[2013-08-12 06:24] sckott opened #1 "Where can I help?"
@cboettig Is there anything I can help with?

[2013-08-12 16:16] sckott opened #2 "Write roxygen documentation for all functions"

[2013-08-12 16:17] sckott opened #3 "Aliases write.nexml and read.nexml aren't being registered"

[2013-08-12 16:18] sckott opened #4 "Flushing out the remaining classes"
Lots of classes / XML node types not yet written. Would be good to write these for some practice (@rvosa might be able to suggest best which ones to prioritize? Or just look at the sample nexml files in `inst/examples/` to see any nodes we haven't defined ...) In principle, once Duncan has the `XMLSchema` package robustly working, we can generate these classes, along with coercion methods to write

[2013-08-12 16:18] sckott opened #5 "Flushing out the class slots"
Lots of my class definitions are missing slots for optional attributes. This doesn't break anything, we simply don't read that information out of the XML and into the S4 when we don't find a slot for it (we = `xmlToS4` method). Ideally we'll want to support the full schema, so all classes should be expanded. (The cool thing about the S4 approach is this is relatively easy to do without breaking an

[2013-08-12 16:30] cboettig opened #6 "Does the current conversion to ape lose element id information?"
Does the current conversion to ape lose element id information?  Can we program around this while still maintaining valid phylo objects?

E.g. once I have coerced a nexml file to a phylo tree and identified a node of interest in the phylo object, can I unambiguously query for metadata on that node id, or the corresponding otu?

Related: trying to wrap my head around the use of having both `label`

[2013-08-12 16:32] sckott opened #7 "Generate otus node"
In `setAs("tree", "nexml", function(from) ... )` (coercing tree to nexml), we need to generate the `<otus>` node still.

[2013-08-12 16:32] cboettig opened #8 "Generate otus element when coercing from tree to nexml"
Validator says we need `meta` element or `otus` element before a `trees` element.  (see `inst/tests/test_serializing.R`).

When coercing from `ape::phylo` to S4 `tree`, we put `tip.label` (e.g. taxanomic names) in the `otu` attribute of the node labels.  This can be extracted to generate the otus element (possibly just a coercion from `ListOfnode` class into `otus`, unless defining such a method i

[2013-08-12 16:54] #7 closed, assigned to cboettig

[2013-08-12 17:53] cboettig opened #9 "phylo to tree methods handling when phylo doesn't have edge lengths"
- [ ] Pretty sure current `setAs("phylo", "tree")` will be unhappy if `phylo` doesn't have edge.length defined.  Fix and write unit test showing this works.
- [ ] Likewise, write unit test for tree to phylo when we don't have length data in the nexml.
- [ ] nexml probably supports missing data better, e.g. lengths on only some edges.  RNeXML needs to do something intelligent (e.g. NAs and warning?

[2013-08-12 18:02] cboettig opened #10 "import "phylo" and "multiPhylo" classes"
Think we need an `importFrom(ape, "phylo")` etc in the NAMESPACE not quite sure if that's correct and what the roxygen would look like.

Resolution of this issue should deal with the warnings on `document` and `install` (on clean R session without `ape` already loaded) about these classes not being defined.

Coercion between S4 and S3 classes feels a bit funny, but it seems such methods are provid

[2013-08-12 18:09] cboettig opened #11 "phylobase strategies"
We'll want to support coercion into phylobase trees (phylo4, etc).

On one hand, since these trees are S4 objects, are more carefully defined than ape::phylo trees, richer, and more extensible, we could build our entire strategy around going from `RNeXML::nexml => phylobase::phylo4 => ape::phylo`.

On the other hand, speaking to ben bolker at ESA, phylobase uptake is low (though does have reverse

[2013-08-12 18:15] cboettig opened #12 "character matrix strategies"
NeXML, like nexus, can contain a lot of character matrix (e.g. sequence) data.  Current approach, like the `read.nexus` functions, simply ignores this.

We will want to be able to read and manipulate R objects without having to carry around the weight of the character data.  This can probably be controlled through the `read_nexml` top-level api, e.g. `nexml_read("file.nexml", type="phylo")` vs `ty

[2013-08-12 18:18] cboettig opened #13 "Tackling "special cases""
Warn or error on special cases (e.g. some valid nexml trees probably cannot be completely valid phylo objects.  For instance, `network` with horizontal transfer events.

[2013-08-12 19:25] cboettig opened #14 "All elements need id(?), strategy for generating ids"
Need to generate ids for nodes such as `<otus>` and `<trees>`, etc.  Should we use `uuid` for this?

[2013-08-28 22:54] #8 closed, assigned to cboettig

[2013-08-28 23:45] #5 closed, assigned to cboettig

[2013-08-28 23:46] #11 closed, assigned to nobody

[2013-08-28 23:57] #6 closed, assigned to cboettig

[2013-09-03 18:35] cboettig opened #15 "Testing"
@SChamberlain  Hey Scott, sorry about the bugs this morning.  I think all the tests should be working now.  I think this counts as our first real milestone!

Like you say, they could use a lot of `expect_that` tests still.  It's not necessary to go too crazy with the expect_that tests though, thanks to the validator (xmlSchemaValidate).  This is the really nice thing about the schema-based data st

[2013-09-03 18:38] #10 closed, assigned to cboettig

[2013-09-03 18:39] #13 closed, assigned to cboettig

[2013-09-03 18:39] #2 closed, assigned to nobody

[2013-09-03 18:40] #4 closed, assigned to cboettig

[2013-09-06 18:02] #9 closed, assigned to cboettig

[2013-09-06 18:05] #1 closed, assigned to nobody

[2013-09-06 18:08] cboettig opened #16 "Understanding set and referencing"
@rvosa @hlapp I'm not really clear what attributes belong to Base. I've stuck `xsi:type` there because it seemed to make sense....

I'm still confused about `set`. I don't see why I'd want to use this; maybe I need a more flushed-out example?

I'm also not exactly sure how I tell if something is "referenced" anyway: I realize that `<node otu = "t1"/>` "references" `<otu id="t1"/>`, so that the otu

[2013-09-06 20:14] cboettig opened #17 "Write a knitr readme / vignette showing basic reading and writing"

[2013-09-06 20:36] cboettig opened #18 "Implement R support for standard metadata elements"
There's a variety of `meta` elements we might want to attach to the top of most nexml documents we write
- [x] Creator, with contact information
  (Not providing contact info in default configuration due to spam concerns.  Contact information can be added as additional metadata, including things like `foaf:homepage` or `foaf:account` = "https://github.com/cboettig")
- [x] Title
- [x] Description
-

[2013-09-06 20:50] #3 closed, assigned to cboettig

[2013-09-06 20:53] #14 closed, assigned to nobody

[2013-09-06 21:54] cboettig opened #19 "Attaching nexml metadata to phylo objects"
Crazy idea: when reading into a phylo, should we create a new RNeXML environment, store the full nexml tree in there, and add a new slot to the phylo object storing an unevaluated `get("<unique_tree_id>", envir=RNeXML)` that methods could use to access the full NeXML??

This would let us do something like:

[code]

instead of

[code]

That is, reading in as the default (ape) type, and still callin

[2013-09-08 16:59] #16 closed, assigned to nobody

[2013-09-08 18:12] cboettig opened #20 "Implement metadata extraction/parsing tools"
We will want either/both of:
- A function to extract all the metadata nodes from the S4 object and summarize this data neatly (more obvious for top-level metadata, less clear how to present the annotations of individual nodes)
- RDFa based tool for extraction/reasoning on the ontological terms?

Additionally, might allow some automatic calculation of metadata such as the number of trees in a file,

[2013-09-08 18:16] cboettig opened #21 "more metadata use cases"
Many R-based tools need ultrametric / time-calibrated phylogenies.  R also provides several tools to do this.  A good use case for metadata reading and writing might be to work out what metadata we might add if we: read in an uncalibrated phylogeny, use a given function (and parameter choice potentially) in a given software to perform the time-calibration, and then write out the time-calibrated tr

[2013-09-08 18:42] cboettig opened #22 "Reach out to R and NeXML lists"
Now that we can do the basics (substantial testing #15 aside, ) it might be good to reach out to r-sig-phylo and the nexml-discuss mailing lists for input, critique and feature requests?  What exactly do we want to write that would be concise and specific enough to perhaps get some reply?  Do we need any prequel about the motivation for the package (particularly about nexml to the R list?)  Should

[2013-10-07 19:04] cboettig opened #23 "hierarchical metadata?"
Can a `<meta>` element have child `meta` elements?  Do we have support for `typeof` and `resource`?

For example, one might want to declare a citation of a paper together with the data set in some really verbose SPAR RDFa as:

[code]

[2013-10-15 18:07] #18 closed, assigned to cboettig

[2013-10-15 19:33] cboettig opened #24 "add TSNs from species names using taxize"
Goal 2 from Kseniia's list, mentioned in https://github.com/ropensci/RNeXML/issues/21#issuecomment-25735531

Will be a good example for the manuscript, once gov't shutdown ends and the taxize servers are back up...

[2013-10-16 21:13] #19 closed, assigned to nobody

[2013-10-17 19:05] cboettig opened #25 "Parsing citation information"
In addition to adding useful metadata, it would be helpful to be aware of the ontologies most often used in existing NeXML, such that we can attempt to parse and serve this data to the R user in native R formats without assuming knowledge of the database. Doing so is sometimes challenging.

For instance, we might want to extract citation information, author, title, etc, and wrap it up as an R `bib

[2013-10-17 19:21] cboettig opened #26 "Navigating ontologies"
Thanks everyone for suggesting various ontologies we can use to start making our R-generated nexml more expressive (partly for my own record, I've compiled a list of those suggested in the issues tracker and replies to my nexml-discuss query below).  However, lacking experience in this area, I haven't been very successful at finding the terms I need in these.  Often I don't know where to start loo

[2013-10-23 01:18] cboettig opened #27 "nexmlTree class when as(obj, "phylo") is a list"
nexml can contain a single `<tree>` node inside the `<trees>` node, multiple `<tree>` nodes in a single `<trees>` node, or even multiple `<trees>` nodes.  The first two cases map naturally onto a "phylo" object and a "multiPhylo" object, defined as classes in `ape`.  In order to preserve the associations, we map the third case (multiple `<trees>` nodes) to a list of multiPhylo objects, which isn't

[2013-10-23 01:19] cboettig opened #28 "rooted vs unrooted trees"
rooted trees can become unrooted in converting from ape to nexml and back.  make sure to handle this more carefully!

[2013-10-24 19:32] #22 closed, assigned to nobody

[2013-10-25 01:32] cboettig opened #29 "ape conversion should handle case of some missing branch lengths"
Some trees (e.g. Treebase "S10327.xml", "S10334.xml", ...) have branch lengths defined for only some edges, leading to the errors seen in #15.  RNeXML should simply write these as NAs in converting to `phylo` type.  Currently generates an error.

[2013-10-25 04:04] #29 closed, assigned to nobody

[2013-10-25 22:52] cboettig opened #30 "Don't error if we cannot convert only some <tree> elements in a list of <trees> to a multiPhylo"
As documented in #15, we should probably only provide a warning and just drop the trees that cannot parse rather than failing to convert the whole collection.

This happens, for instance, when some of the trees contain only metadata (no nodes or edges).

[2013-10-25 23:01] cboettig opened #31 "write.nexml methods for multiPhylo objects"
We can read in multiPhylo, but don't convert multiPhylo to single nexml:

[code]

[2013-11-12 20:53] rvosa opened #33 "blog post?"
Hi guys,

I am quite keen to write a little blog post on http://biophylo.blogspot.com about your work. Would that be OK? Do you feel comfortable exposing this to my vast, vast readership?

Rutger

[2013-11-13 04:09] #27 closed, assigned to nobody

[2013-11-13 04:10] #30 closed, assigned to nobody

[2013-11-13 05:07] #28 closed, assigned to nobody

[2013-11-14 15:23] cboettig opened #34 "online validator tests?"
@rvosa Is the validator tool on the nexml website, http://www.nexml.org/nexml/phylows/validator, doing more checks than the standard XML schema validation?  If so, perhaps we could wrap this as an R function.

i.e. this is true of the EML validator, http://knb.ecoinformatics.org/emlparser/,  which checks that any "references" node matches some corresponding "id", etc.  For that reason we wrapped t

[2013-11-18 17:20] #34 closed, assigned to nobody

[2013-11-18 19:10] #17 closed, assigned to nobody

[2013-11-19 18:13] cboettig opened #35 "Include `about` property to any node containing metadata annotation"
Necessary so that extracted RDF nodes still refer to the appropriate point in the DOM.  Currently we are not writing this, e.g. https://github.com/ropensci/RNeXML/blob/c04435b8a9759fdd3e21aa2527a7f454b3a166d7/inst/examples/ncbii.xml

Maybe we should just include an `about` attribute whenever we write an `id` attribute?  Alternatively we have to check if an `about` attribute is present whenever we

[2013-11-21 22:44] cboettig opened #37 "Extraction and writing of mixed-type character data frames"
If we extract a list of character matrices for the same OTU set, it might make sense to combine them into the same `data.frame` (would have to be a `data.frame` and not a matrix, since some columns might be continuous traits and some might be discrete traits). Currently, extracting the character matrix from a file like comp_analysis.xml returns a list with 2 data frames, one of the continuous trai

[2013-11-21 22:44] cboettig opened #38 "(When to) substitute labels for ids? (character matrices)"
In reading nexml to phylo objects, we take the liberty of converting tip node otu ids (the `otu` attribute on the nodes) to the taxonomic labels (the `label` attribute on the `otu` node with the matching id).

This runs the risk of assuming the `otu` has a label attribute.  If it doesn't, we use the id instead.  (I believe "label" is always an optional attribute while "id" is always required when

[2013-11-22 18:59] cboettig opened #39 "Better merging of character data frames"
@SChamberlain Thought I might tap some of your `plyr`/`reshape2` awesomeness here:

`get_character_list` extracts a list of data.frames.  Each data frame has taxon names as the rownames and character traits as colnames, and may have one or more columns depending on how may traits are in the dataset.  The list has multiple data frames if either they correspond to different sets of taxa, or if they

[2013-11-22 21:10] cboettig opened #40 "Conversion between EML and NeXML (at least for character data)"
Given a csv (or excel?) file containing (phenotypic) character data and an associated EML metadata file describing it, can we completely serialize this csv file and associated metadata into RNeXML `characters` nodes?

[2013-11-22 21:17] cboettig opened #41 "Conversions for DNA character data into/from ape::DNAbin class"
Probably not a high priority; might be worth discovering users of the DNAbin class to get feedback first.

[2013-11-22 21:24] cboettig opened #42 "Compatibility with read.nexus.data and write.nexus.data"
Might imagine a user would want to extract character data that comes in nexus format (used by http://www.morphobank.org/, for instance) into NeXML.

Unfortunately, though ape provides `read.nexus.data`, the function is extraordinarily limited.  For instance, it cannot handle spaces in species names or sequences, and appears to return only a list of elements named by taxa without any metadata about

[2013-11-24 05:43] cboettig opened #43 "When to create a new otus block?"
If I understand the schema correctly, nexml permits multiple otus blocks, though I haven't seen this used.

In writing a function to add characters data to an existing `nexml` object, we run into the following cases.  Only the 3rd seems to involve a non-trivial case:
- No `otus` node has yet been generated: so we generate one corresponding to the rownames in the matrix.
- All rownames in the matri

[2013-11-25 23:56] cboettig opened #44 "Interpreting comparative data in nexml files"
I'm intrigued by @rvosa's suggestion of showing how RNeXML can be used to document both the character data and phylogenetic data used in comparative phylogenetics, which accounts for many of the R package use cases.

However, there may be a bit of a cultural "stereotype" to overcome in pitching this use case.  From my own interactions I'm under the impression that most researchers assume that any

[2013-11-26 15:56] #43 closed, assigned to nobody

[2013-11-27 19:19] cboettig opened #45 "Provide a concatenate method for nexml class"
One can generate a nexml file with multiple characters or mulitple trees just by passing in a list of these things, e.g. `add_characters(list_of_characters, nexml)`, `add_trees(list_of_trees, nexml)`. But sometimes it might be useful to concatenate directly.  R defines the `c` method to concatenate objects, so perhaps a method that could concatenate nexml objects (e.g. append trees and characters)

[2013-11-29 22:17] #42 closed, assigned to nobody

[2013-11-29 22:28] #45 closed, assigned to nobody

[2013-11-29 23:30] #35 closed, assigned to nobody

[2013-11-30 00:28] cboettig opened #46 "Generate MIAPA checklist-compliant nexml"
RNeXML should optionally be able to include all the basic metadata listed on the [MIAPA checklist](https://github.com/miapa/miapa/blob/master/checklist/MIAPA-checklist.md), hopefully guiding users that are unfamiliar with the process and being able to provide reasonable automated suggestions when possible (e.g. suggesting external identifiers based on OTU labels, #24)   A function might be provide

[2013-11-30 01:10] sckott opened #47 "Slots vs. representation?"
The documentation for `setClass` states

I noticed that you are using `representation` whereas in `spocc` I have been using `slots`. I don't know which is right, but it looks like combo of `slots` and `contains` is recommended

[2013-11-30 21:22] cboettig opened #48 "How would we express a simmap tree in NeXML?"
Tree "paintings" indicating different evolutionary regimes/modes along different parts of a phylogeny are a particularly common use case for comparative phylogenetics in R.

The current 'standard' seems to be simmap's representation, e.g. see Liam's description:  http://blog.phytools.org/2010/12/reading-simmap-trees-into-r.html

Presumably this would be done with `meta` annotations on each edge in

[2013-12-01 05:33] #31 closed, assigned to nobody

[2013-12-01 05:34] #37 closed, assigned to nobody

[2013-12-01 05:34] #39 closed, assigned to sckott

[2013-12-01 05:39] #12 closed, assigned to nobody

[2013-12-01 05:41] cboettig opened #49 "handle polymorphic states appropriately"
We parse polymorphic states into the S4 version fine, but do not convert them into a matrix.

I think `StandardCells` types with polymorphisms could cause `get_characters` to error.  Not clear what the return data-type should be for the polymorphic/uncertain character state anyhow.

Not sure that this is a high priority, not sure how common this is in character data (e.g. vs just having a single e

[2013-12-02 22:49] cboettig opened #50 "add show and summary methods for nexml class"

[2013-12-02 22:59] #47 closed, assigned to nobody

[2013-12-02 23:15] cboettig opened #51 "Handle alternative namespaces on attribute values"
Question for @duncantl

The XML tools respect namespace definitions on XML-level content, but view attribute values as strings. Consequently, when parsing an element such as

[code]

What should we be doing such that we can successfully identify this as a `meta` element of type 'http://www.nexml.org/2009/LiteralMeta' regardless of whether the prefix is `nex = http://www.nexml.org/2009` or somethin

[2013-12-03 02:15] #38 closed, assigned to nobody

[2013-12-03 06:22] cboettig opened #52 "concatenate method for meta elements"
Should be able to concat meta elements instead of `new("ListOfmeta", list(meta1, meta2))`

[2013-12-03 23:38] #52 closed, assigned to nobody

[2013-12-24 06:31] cboettig opened #53 "Problem writing certain traits to nexml"
[code]

[code]

Check remainder of data sets in geiger.

[2013-12-24 06:35] cboettig opened #54 "add_characters doesn't accept a named numeric"
Many of the data sets provided in the geiger package give traits as a named numeric, which most geiger functions accept as an alternative to data.frame.  Should `add_characters` accept this format?  Currently only accepts character traits as a`data.frame` or `matrix`.

[code]

[code]

[2013-12-24 10:12] #53 closed, assigned to nobody

[2013-12-24 10:12] #54 closed, assigned to nobody

[2013-12-24 10:13] #50 closed, assigned to nobody

[2014-01-08 23:46] #23 closed, assigned to nobody

[2014-03-07 18:50] cboettig opened #55 "phyloxml support?"
@rvosa @hlapp Is there some Perl or something we could wrap to convert phyloxml into nexml, such that R users could read in that format as well?

[2014-03-07 23:22] cboettig opened #56 "Travis integration"
Add travis integration, establish a passing build without warnings.

[2014-03-08 00:17] #56 closed, assigned to nobody

[2014-03-14 19:28] cboettig opened #58 "Manuscript comments?"
Hi @rvosa @sckott @hlapp

On the devel branch of the [inst/doc/pubs](https://github.com/ropensci/RNeXML/tree/master/inst/doc/pubs) directory you'll find the current draft of the [manuscript.Rmd](https://github.com/ropensci/RNeXML/blob/master/inst/doc/pubs/manuscript.Rmd) describing our RNeXML package.  I have in mind the format of a Methods in Ecology and Evolution applications note, though it may

[2014-03-17 23:19] cboettig opened #59 "Publish NeXML files to scientific repositories from R"
Part of the goal of `RNeXML` is to facilitate publishing phylogenetic trees with rich metadata in NeXML as supplements to publications and  facilitate sharing.  While it is relatively trivial to upload a file to a repository like Dryad or figshare, this usually involves repeating the entry of metadata that could have been extracted from the NeXML (or conversely, entering metadata in the repository

[2014-03-18 16:33] cboettig opened #61 "And suddenly Travis is unhappy about libgdal1-dev"
Travis is failing to build RNeXML now due to an error installing libgdal1-dev [see travis log](https://travis-ci.org/ropensci/RNeXML/builds/21021360)  It used to install this just fine, so I'm not sure what has happened; perhaps @craigcitro has some insight?

@sckott points RNeXML's installation of this dependency is now different from that in taxize

https://github.com/ropensci/RNeXML/blob/master

[2014-03-19 16:03] #61 closed, assigned to nobody

[2014-03-25 18:04] #48 closed, assigned to nobody

[2014-03-25 18:07] #59 closed, assigned to nobody

[2014-03-25 21:59] #15 closed, assigned to sckott

[2014-03-25 22:01] #44 closed, assigned to nobody

[2014-03-25 22:09] #26 closed, assigned to nobody

[2014-03-25 22:14] #24 closed, assigned to nobody

[2014-04-03 19:02] sckott opened #65 "taxonomy - taxize tool error handling"
What kind of error handling is best in the context of `RNeXML`. Perhaps the default taxize error handling is fine.

@cboettig let me know if there's anything in particular you want

[2014-04-03 19:05] sckott opened #66 "taxonomy - taxize tool user interface (interactive prompts)"
Is the default interactive prompt okay?  Basically if more than one match is found now the user gets an interactive prompt where the user then enters the row name of the data.frame they want.

[2014-04-03 19:18] sckott opened #67 "taxonomy - handling alternative authority sources other than NCBI"
We can currently grab data from NCBI, ITIS, COL, GBIF, Tropicos, EOL

You can currently pass the source in as a parameter `get_ids('name', db = 'ncbi')` or use the function for that specific source `get_uid('name')`.

You could simply do a `...` into `get_ids()` to let users choose source, or expose `db` parameter in the top level of your function to make it explicit that they can pick the source.

[2014-04-03 19:21] sckott opened #68 "taxonomy - capturing provenance"
@cboettig What kind of provenance did you have in mind here?  Just a URI for the taxon reference from the source? Or something even more?

[2014-04-17 18:56] cboettig opened #69 "Travis should build the vignettes"
Apparently R-travis skips the vignette building by default.

@sckott found this https://github.com/csgillespie/travis-examples/tree/master/vignette

suggests adding

[code]

[2014-05-09 13:42] rvosa opened #70 "install_github error"
I get this, not sure how to proceed:

Error in setClass("Base", slots = c(`xsi:type` = "character")) :
  unused argument(s) (slots = c(`xsi:type` = "character"))
Error : unable to load R code in package 'RNeXML'
ERROR: lazy loading failed for package 'RNeXML'
- removing '/Library/Frameworks/R.framework/Versions/2.15/Resources/library/RNeXML'

[2014-05-09 13:47] #70 closed, assigned to nobody

[2014-06-16 20:20] #20 closed, assigned to nobody

[2014-06-19 18:32] cboettig opened #71 "All exported functions should have an example in the documentation"
Some but not all already have examples.  Examples needing an internet connection should be put in a `\donttest{ }` bracket.  Examples taking longer than a few seconds to run should be put in `\dontrun{ }` bracket.

[2014-06-19 18:37] cboettig opened #72 "Ready to submit to CRAN??"
Looks like we're getting close to closing out our [Submit to CRAN milestone](https://github.com/ropensci/RNeXML/issues?milestone=4&page=1&state=closed)

Might be nice to get some other eyes on the package for a quick code review?  (e.g. I just noticed some documentation doesn't include examples, #71)

Namespace-wise I think we've done a reasonable job with consistent and logical names for function

[2014-06-26 10:26] rvosa opened #73 "SPARQL use case"
Now that it is so relatively painless to extract RDF and run SPARQL queries on it (incidentally: great job, supercool) I think it would be good to develop a more persuasive use case to demonstrate the power of this facility.

Here's an idea: let's say we have a tree, some trait data and some occurrences for a set of species. As usual, after all the data cleaning, we find that the species in the tr

[2014-07-09 18:35] cboettig opened #74 "Add citation to Cranston et al"
http://currents.plos.org/treeoflife/article/best-practices-for-data-sharing-in-phylogenetic-research/ does a great job of listing 10 "best practices," most of which can be accomplished with a few lines of RNeXML.

Eventually It would be nice to provide a small example that hits all 10, though we're a bit short on some of MIAPA (as discussed in #46)

[2014-07-11 19:53] cboettig opened #75 "add_meta should error if abbreviation is not defined in namespaces"

[2014-07-17 17:20] #74 closed, assigned to nobody

[2014-07-17 19:03] #71 closed, assigned to nobody

[2014-07-17 20:58] #69 closed, assigned to nobody

[2014-07-17 22:52] #72 closed, assigned to nobody

[2014-07-17 23:11] cboettig opened #76 "Manuscript title?"
Anyone have suggestions for the manuscript title?

Currently we have: "RNeXML: Parsing and Serializing the Next Generation of Phyloinformatic Data in R", but that's not really all that informative for the average R phylogenetics user...

Note also that the R package title is currently: `Implementing semantically rich I/O for NeXML format`; though that can change as well and people don't tend to pa

[2014-07-18 18:25] cboettig opened #77 "www.nexml.org times out on many checks (validation)"
@rvosa CRAN tells me that RNeXML was failing several of the automated tests last night due to www.nexml.org timing out.  The tests are hitting the validator on the site there.

I can rewrite the validation function to just perform XML schema validation if www.nexml.org is unreachable or the validator request times out.  That would either require adding a local copy of the schema to the package (pe

[2014-07-21 20:54] #77 closed, assigned to nobody

[2014-07-21 20:55] #76 closed, assigned to nobody

[2014-07-25 18:17] fmichonneau opened #79 "write about the XML format in introduction"
Original comment:

I think the manuscript will benefit from having a quick paragraph about some details of the XML file format. The manuscript does a good job at emphasizing that XML is well suited to store data/metadata associated with phylogenetic studies, but the manuscript lacks a section on how a XML file is organized and the definitions of some concepts that are used in the manuscript. For i

[2014-07-25 18:17] fmichonneau opened #80 "include discussion about XML namespaces"
original comment:
- in the same section, there is a discussion about prefixes. Providing a few sentences about the use of prefixes in XML would be useful. Currently, the reader is left wondering why there is a `dc`, a `prism` and a `skos` prefix and what could be the difference between them. Talking about the scope of each namespace, and why several need to be used would be useful. Maybe bringing

[2014-07-25 18:19] fmichonneau opened #81 "make sure to tell the reader what to expect from a command beforehand"
Original comment:
- I edited this in a couple of places in the manuscript, but I think in general that it's better to tell the reader what a command is going to do beforehand (see l. 508-510 of my commit)

[2014-07-25 18:19] fmichonneau opened #82 "check consistency of formatting for `phylo` and `simmap`"
Original comment:
- it's a detail but sometimes APE's `phylo` class is referred to as `ape::phylo` and other times as just `phylo`, and simmap is also sometimes `simmap`

[2014-07-25 18:20] fmichonneau opened #83 "include discussion about phylobase?"
Original comment:

it might be beyond the scope of the manuscript but there are some nice possibilities for phylobase and RNeXML to interact. As phylobase provides classes that store together trees + data (and has a slot to store  metadata), there are definitely some interesting possibilities to pass data around.

[2014-07-31 16:55] cboettig opened #84 "add coercion methods to/from caper's tree+data structure"

[2014-07-31 17:11] cboettig opened #85 "How about `add_taxa`?"
A taxa block is added when trees or characters are added.
I guess it would make sense to be able to add taxa directly,
(e.g. a NeXML file containing only RDFa metadata about taxa,
independent of characters or trees), but I worry about confusing
people into thinking they must add taxa blocks separately, and
about when we should merge or not merge taxa blocks of matching
species; see #43

[2014-07-31 17:21] cboettig opened #86 "Automatically add value of $USER to document-level metadata (dc:creator)"
Rutger does this in the PERL version, seems like it could be handy.

I do worry a bit that there's a tendency not use any hierarchical organization of metadata (see #23) that things can get confusing. For instance, when associating publications with the NeXML they are currently just added as annotations at the document-level as well.  (e.g. https://github.com/ropensci/RNeXML/blob/master/inst/examp

[2014-07-31 17:26] #82 closed, assigned to nobody

[2014-07-31 17:29] #81 closed, assigned to nobody

[2014-07-31 18:13] cboettig opened #87 "add coercion methods to/from phylobase formats"
This will provide a more satisfactory resolution to issue #11 as well, where we initially considered phylobase during a period of phylobase instability on CRAN...

[2014-07-31 18:19] #83 closed, assigned to nobody

[2014-07-31 18:23] #80 closed, assigned to nobody

[2014-07-31 18:24] #73 closed, assigned to nobody

[2014-08-21 17:16] sckott opened #88 "Interested in adding windows builds with Appveyor?"
If so, i can do, let me know

[2014-08-21 21:58] sckott opened #89 "By default give back taxa as a column in character data.frame"
In this example I wonder if it makes sense to return by default the taxa labels as a column in the data.frame, perhaps the first column. Not a huge deal to move row names to a column, but a bit easier perhaps for downstream use?  Maybe not, not sure

[code]

[code]

[code]

[code]

[2014-08-21 22:58] sckott opened #90 "Other options for `nexml_publish()`"
Seems that figshare is the only option right now. Correct @cboettig ?
- Perhaps we can include a options for github, either to repo, gist, or both?
- I imagine Dryad doesn't accept submissions programmatically?

Are there other places folks may want to share nexml files?

[2014-08-29 18:46] #89 closed, assigned to nobody

[2014-10-06 12:57] hlapp opened #92 "CDAO namespace is still the old one"
At least in the example that's in the README, CDAO is still listed with the old namespace, instead of http://purl.obolibrary.org/obo/cdao.owl.

Note that that is not a trivial difference - the OWL files at the two locations are very different. Hence there may still be locations in the code using the old CDAO term URIs instead of the new ones with slash-based opaque identifiers. I haven't checked t

[2014-10-06 16:27] #92 closed, assigned to nobody

[2014-11-04 16:56] cboettig opened #93 "Advanced vignettes"
Various topics covered in the manuscript but not in the basic README / vignette could be added as advanced vignettes.  These include:

- Adding additional metadata
- Simmap extension
- SPARQL queries
- ....

[2014-11-04 17:48] cboettig opened #94 "Deal with fork"
I've written to Github to request the change, as they describe at the bottom of this page:  https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile/

We don't want to delete and re-create the repository as we would lose all the very nice discussions we have in both current and previous issues on the repo.

[2014-11-04 18:28] cboettig opened #95 "Manuscript next steps"
Hi team,

Good chat this morning.

I merged @hlapp 's edits into `devel`, fixed the easy things, and added a few comments in reply to his comments.  I also removed old comment threads that have since been resolved.

I understand @hlapp is going to go through the manuscript to highlight:

- areas where a design decision deserves (further) discussion
- areas where we are too much in 'user manual' mo

[2014-11-04 18:31] cboettig opened #96 "Archive copy of repo on Zenodo"
- Make sure that Zenodo copy syncs to latest version
- Update package CITATION file/function appropriately.

[2014-11-04 18:35] #94 closed, assigned to nobody

[2014-11-21 17:38] cboettig opened #97 "add_basic_meta should take nexml as the last object, drop ..., update manuscript"
- [x] `nexml` should be last argument, not first
- [x] Don't use `...` (misspelled/unrecognized fields should throw errors)
- [x] Update examples in manuscript

Note: Introduces a minor potential break in the API (if using unnamed arguments).  @hlapp @rvosa @sckott Should we bump the major version in our semantic versioning to reflect this?

[2014-11-21 21:22] cboettig opened #99 "Review edits on semantics, etc?"
Hi @hlapp,

Wondering if you could take one more quick read over the sections I edited in response to today's call?

-  I've revised the introduction entirely, but in particular have tried to emphasize the semantic uses while still being brief (e.g. paragraph 3).  Let me know if you think we should expand that further.

-  I've added a "future directions" section mentioning NexSON (but needs citat

[2014-11-21 21:26] #97 closed, assigned to nobody

[2014-12-03 13:38] hlapp opened #102 "supertreebase location has changed"
See TreeBASE/supertreebase#9. Although presumably there are redirects in place that should keep the code sample working, should still change the path in the manuscript (and perhaps other places where it is used?).

[2014-12-03 21:31] #102 closed, assigned to nobody

[2014-12-05 16:11] hadley opened #103 "DESCRIPTION should include URL and BugReports"
Pointing to this repo

[2014-12-05 16:11] hadley opened #104 "CRAN check notes"
[code]

[2014-12-05 20:41] #103 closed, assigned to nobody

[2014-12-05 21:02] #104 closed, assigned to nobody

[2014-12-09 15:59] sckott opened #105 "Question on taxize devtools::revdep_check"
I just checked `devtools::revdep_check()`, and I get for `RNeXML` (this doesn't seem like a problem with taxize, but i wasn't sure):

[code]

[2014-12-09 16:18] #105 closed, assigned to nobody

[2015-01-02 23:27] hlapp opened #108 "simmap vocabulary issues: char and stateChange"
The following is the `simmap` example in the current manuscript draft:

[code]

Questions:

1. Why do we need to have two `simmap:char` properties? Is it really possible that a branch can change state from one state of one character to a state of a different character? And even if that were possible, shouldn't the `simmap:char` then instead be a property of `simmap:stateChange`?
2. I am assuming t

[2015-01-18 19:56] hlapp commented on #58
@cboettig looks like we're done with this issue for now. Close?

[2015-01-18 19:57] hlapp commented on #79
I'm going to make the call that this is addressed, in part with PR #106.

[2015-01-18 19:57] #79 closed

[2015-01-18 19:58] hlapp commented on #95
I think this is done, in part through PRs #106, #109, and #110.

[2015-01-18 19:58] #95 closed

[2015-01-18 20:00] hlapp commented on #99
Done, see #106 and #109.

[2015-01-18 20:00] #99 closed

[2015-01-18 20:05] cboettig commented on #58
Yup, done here

[2015-01-18 20:05] #58 closed

[2015-01-18 20:06] hlapp commented on #93
I think this is addressed through the following commits:
- f20f13e2544a605f381dc49e503ef1075401d713
- 7bad1ab0d30cd7359aa04467f3f4f7d3378b65d7
- 133fa15d67a982cdbd118952d4702ac0e37eb23f
- 836da45b9293780645cae87cd6e52dba55647385
- 7b81b3a10804946eaaece6fcf2f4e37339902c08
- 7cb0ffc7d8e7323db6c34894c15e7f76c09cef3a
Ready to close out this issue?

[2015-01-18 20:07] hlapp commented on #96
@cboettig did you do this before or as part of submission?

[2015-01-18 20:10] hlapp opened #111 "Dockerfile instructions contain incorrect directory"
Here's the error I get:

[code]

[2015-01-18 20:12] hlapp opened #112 "References heading is missing from rendered manuscript"
Too bad we missed this for initial submission, but let's make sure it's fixed for revision.

[2015-01-18 20:17] hlapp commented on #90
Just as an FYI to everyone, [DataONE issue 6068](https://redmine.dataone.org/issues/6068) has been implemented and closed.

[2015-01-18 20:26] hlapp opened #113 "Add support for using prefix.cc for resolving new prefixes to namespace URIs"
At present the user has to provide the namespace URI for prefixes used in metadata attributes. But for well-known prefixes, the package could leverage the crowd-sourced resource [prefix.cc](http://prefix.cc). (I've also just registered the prefix `nex` there).

[2015-01-18 20:29] #88 closed

[2015-01-18 20:46] cboettig commented on #96
@hlapp Good question, I could use some feedback here.

I first set up the Zenodo tracking on Nov 5th, but as I had not yet tagged a release, nothing was pushed to Zenodo yet.  However, on Dec 6th I pushed a new version of RNeXML to CRAN (2.0.0), which implemented a simple change in the user-facing functions/API of the package (making the `nexml` argument to `add_basic_meta` be the last instead of

[2015-01-18 20:48] cboettig commented on #113
nice, that's a great idea.  presumably this might be used if no prefix was supplied, and otherwise supplying a prefix would allow a user to override the default?

[2015-01-18 20:54] #111 closed

[2015-01-18 21:09] cboettig commented on #111
@hlapp thanks for testing this out.  Whoops, forgot to update the paths in those comments.  I'm still trying to figure out what (if anything) is the most useful way both for a user to use the Docker images and for us to document them.

Now that RNeXML is on CRAN and provided by the rocker/ropensci Docker container, I'm not sure that it's even worth providing a separate Dockerfile for RNeXML.  As y

[2015-01-18 21:17] hlapp commented on #96
I guess it depends on what is the primary goal for having an archive of record on Zenodo. If it's the software reported in the paper, rather than the manuscript, then changes to the manuscript that do not change the code should not trigger re-archival in Zenodo. Also, if the version on CRAN is what we are reporting in the manuscript (and I think it is, isn't it), then the archive on record associa

[2015-01-18 21:22] cboettig commented on #93
yup, thanks for tagging the commits. (I shoulda been better about tagging the relevant issue in my commit logs).

[2015-01-18 21:22] #93 closed

[2015-01-18 21:35] cboettig commented on #86
A top-level timestamp is added only if one does not yet exist by `add_basic_metadata` since d93056b2496f951896ef35453e0115cafe9525cf, `USER` added in a2c94a4b613999d7fa6604cd856294be548f1e88 .  Currently this leaves updating the timestamp up to the use of more manual controls by the user. (automatically appending a new timestamp each time seems messy without richer metadata describing the differen

[2015-01-18 21:35] #86 closed

[2015-01-18 22:05] cboettig commented on #96
+1 regarding referencing the DOI in the text.  As the DOIs are versioned too, there's also the matter of which DOI to use.  (At present, I think Zenodo could do a better job of connecting multiple versions)

For me, the Zenodo archive exists simply to provide a (DatCite) DOI for and 'permanent copy' of the Github repository (along with more machine-readable metadata served through OAI-PMH and also

[2015-01-19 00:45] hlapp commented on #96
I wasn't trying to make a case for separating repos for software and manuscript (AFAIAC, I'm mostly neutral on that question). I was just trying to argue what should take priority in triggering a new Zenodo deposit, and according to my argument it seems the version of the _software_ that should have been deposited for this initial submission of the manuscript _is_ indeed deposited. (It's just not

[2015-04-23 17:20] sckott opened #116 "A few manuscript questions/comments"
* https://github.com/ropensci/RNeXML/blame/master/manuscripts/manuscript.Rmd#L177 Do we want to suggest people go to discuss.ropensci.org as an additional option?
* https://github.com/ropensci/RNeXML/blame/master/manuscripts/manuscript.Rmd#L179-L180 Is there a reason these vignettes aren't in the CRAN version?  They're here in github, so i guess they will be in next cran version
* https://github.c

[2015-04-27 18:14] cboettig commented on #116
Thanks for these!

- yup, vignettes should go up on CRAN in the next release (figured might as well wait for reviewer feedback since you know how touchy CRAN is)

- typo fixed.

- didn't add the discuss.ropensci.org link since I think pointing just to issues is simpler (and I'm more likely to see it ;-) )

[2015-04-27 18:14] #116 closed

[2015-04-27 18:40] sckott commented on #116
All sound good :)

[2015-05-05 15:42] hadley opened #119 "Tests fail when suggested packages not installed"
[code]

You can use `skip_if_not_installed()` to avoid this problem.

[2015-05-05 16:39] #119 closed

[2015-05-12 16:28] cboettig opened #120 "Comments from the Associate Editor (posted with permission from MEE & editor)"
I have received reviews from two reviewers; both are overall very positive.  I share their enthusiasm and think that this has the potential to be an important and widely used package  The concerns that the reviewers express are very similar, however, and I would urge the authors to consider them carefully when making their revisions.

The article reads as if it is pitched to someone who has mostly

[2015-05-12 16:29] cboettig opened #121 "Comments from Reviewer 2"
Overall, I think this package is a fantastic resource. This is a greatly needed tool
in biodiversity sciences and you have done a excellent job with the package, the
manuscript, and the supplementary materials. I look forward to seeing this published
and hope that it catches on in the community. I have a couple of criticisms that I
would I like to see addressed before I can recommend this for publ

[2015-05-20 19:34] rvosa commented on #121
Are we still in the process of formulating a response to this? Sorry, I've been traveling, not sure if I need to provide input here.

[2015-05-20 19:46] cboettig commented on #121
nope, we're all set & waiting on the editor's decision.  I only just got
permission to publically post the replies we made to reviewer 2 and the
associate editor, so I can have those up soon.  Sharing the reviews that
the reviewers agreed to share has been a very new thing for MEE, so this
process has been slightly bureaucratic.

On Wed, May 20, 2015 at 12:34 PM Rutger Vos <notifications@github.co

[2015-05-20 19:50] rvosa commented on #121
Ah, ok - I thought that's where we were in the process. Just making sure.

[2015-05-25 17:28] cboettig commented on #119
@hadley Thanks for this, now that the new testthat is available on CRAN I guess I can release this.  I hadn't done so earlier as the fix requires this `skip_if_not_installed()` function which wasn't available on previous `testthat` versions.  Not sure what the right strategy is in such cases.

[2015-05-25 17:45] cboettig commented on #120
(Our replies to the associate editor, also posted with permission now)

--------------------------------

This section has been substantially revised to be more accessible and problem focused. We have tried to strike a balance between documenting the technical aspects of the file format and R package while also addressing the bigger picture of appealing to users.

We have at several places highlig

[2015-05-25 17:45] #120 closed

[2015-05-26 12:15] hadley commented on #119
I think the best practice is to make it conditional, i.e.

[code]

but that's a reasonable amount of work for little gain in many cases.

[2015-05-29 23:32] cboettig commented on #121
to facilitate the use of NeXML standards in phylogenetics and comparative methods.
While the package certainly goes a long way towards this goal, I feel that the
manuscript could be better in this regard.

average empirical biologist care whether their files are in NeXMl format/why is it
worth bothering with (i.e., why not just deposit .tre and .csv files?) I can imagine
a few "killer apps", such

[2015-05-29 23:32] #121 closed

[2015-06-10 03:39] wcornwell opened #122 "Plotting crashes R--CRAN version"
Pretty cool project!  Looking forward to seeing where it's going, especially for plotting traits and phylogenies there is certainly the need for a general framework that people can build on.

Anyway was just checking out the plotting and found the following: the example plotting code from the arxiv.org vignette:

[code]

At least on my system this crashes R.  This is R 3.1.3 on Mac OS with the CRA

[2015-06-10 04:10] cboettig commented on #122
Thanks for the positive words and the bug report.  Looks like I can replicate this bug as well.

The segfault crashing R appears to arise from the plotting function in the `ape` package.  I'll report this to the ape maintainer and see if he has any ideas.

The example tree shown there (`S100.xml`) was selected at random and seems to have some pathology for the `ape` plotting function that I do not

[2015-06-10 04:39] wcornwell commented on #122
My guess is one or more non-splitting nodes in one of the tree?

[2015-06-10 14:22] fmichonneau commented on #122
For what it's worth,

plot(tr_phy[[1]][[1]])
plot(tr_phy[[1]][[2]])

work but plot(tr_phy[[1]][[3]]) and plot(tr_phy[[1]][[4]]) trigger the
segfault.

On Wed, Jun 10, 2015 at 12:39 AM, Will Cornwell <notifications@github.com>
wrote:

[2015-06-15 15:48] cboettig commented on #122
@emmanuelparadis points out to me:

you to fix some issues in RNeXML.

in ape.

I'll have to see if these issues are already present in the TreeBASE NeXML and figure out what the best way to handle them is. Perhaps we should still still parse the NeXML with `nexml_read` but refuse to return an ape format from `get_trees` if the trees do not pass these checks?

[2015-09-22 22:24] hlapp commented on #96
The [v2.0.0 release](https://github.com/ropensci/RNeXML/releases/tag/v2.0.0) was archived in Zenodo, which is referenced in the paper: [![DOI](https://zenodo.org/badge/doi/10.5281/zenodo.13131.svg)](http://dx.doi.org/10.5281/zenodo.13131)

There are newer v2.0.x tags since then, which haven't been made into point releases yet, but that's I think separate from this issue.

[2015-09-22 22:24] #96 closed

[2015-09-22 22:24] xu-hong opened #123 "nexml_read functions complains about "XMLInternalDocument" as an input"
If I give an ```XMLInternalDocument```object as input x,
the ```nexml_read(x)``` will raise:
Error in as.vector(x, "character") :
  cannot coerce type 'externalptr' to vector of type 'character'

This is because the first if condition uses ```grep("^https?://", x)```, which do not accept an ```XMLInternalDocument``` type.

Should consider reordering the sequence of if statement.
@hlapp

[2015-09-22 22:25] hlapp commented on #112
Fixed in 30992c11802b2d09ec8abbad897c3695a93f8963.

[2015-09-22 22:25] #112 closed

[2015-09-22 22:26] hlapp commented on #108
I don't think we've addressed this for the manuscript (and it's more a general modeling improvement issue, I would say), and so I'm de-coupling this from the manuscript milestone again.

[2015-09-22 22:29] cboettig commented on #108
:+1:

[2015-09-22 22:37] hlapp opened #124 "Parsing of XML namespace declarations in XML input is incorrect"
Perhaps RNeXML has a built-in expectation for the abbreviation of the NeXML namespace? The following lines result in an error, complaining about the `ns` namespace:

[code]

This shouldn't result in an error. If one changes `ns:LiteralMeta` to `nex:LiteralMeta` (with `nex` not defined anywhere!), the error goes away. So this seems backwards to me - what shouldn't give an error does, and what shoul

[2015-09-22 22:40] xu-hong opened #125 "get_characters() not detecting the matrix in nexml file"
I tried the following code to parse the nexml (stored as [test.xml](https://raw.githubusercontent.com/xu-hong/rphenoscape/master/inst/examples/test.xml)) returned by the [OntoTrace API] (http://docs.phenoscapekb.apiary.io/#reference/ontotrace/ontotrace/generate-matrix-of-inferred-presence/absence-associations-for-anatomical-structures-subsumed-by-the-provided-entity-class-expression,-for-any-taxa-

[2015-09-22 22:48] cboettig commented on #124
Yes, is due to issue #51.

I believe this is essentially because NeXML namespaces attribute values, which XML treats as strings.  @hlapp's solution in #51 looks reasonable but has not yet been implemented.

[2015-09-22 22:49] hlapp commented on #125
@cboettig or @sckott if you could look into soon that'd be great. It's essentially a showstopper right now for using RNeXML for the RPhenoscape package.

[2015-09-22 23:00] sckott commented on #125
I'll take a look

[2015-09-22 23:37] sckott commented on #125
hmmm, the file doesn't validate on nexml.org http://www.nexml.org/ - doe that not matter?

here https://github.com/xu-hong/rphenoscape/blob/master/inst/examples/test.xml#L35 you have `xsi:type="ns:StandardCells"`, whereas the relevant fxn here is looking for `nex:StandardCells`  https://github.com/ropensci/RNeXML/blob/master/R/get_characters.R#L24-L39

[2015-09-23 00:05] sckott commented on #125
@xu-hong @hlapp okay, i pushed a change to a different branch, fixes for me locally, can test from there,

`devtools::install_github("ropensci/RNeXML", ref = "sckott-char-fix")`

@cboettig not sure if this change is the best one.

* I think https://github.com/ropensci/RNeXML/commit/0340607bef662487eaa8ee0715bd3541c35bb62b?w=1#diff-0a17c9effc561b26fb9890f0d9fcec7cR214 makes sense, but
* not sure if

[2015-09-23 10:21] rvosa commented on #125
In principle this ought to work: the namespace declaration specifies the
prefix 'ns' as being bound to 'http://www.nexml.org/2009' so actually this
is correct. In the R code the prefix 'nex' is hardcoded, when one should
not actually make the assumption that that prefix is always used. Better
would be to make a map of namespace URIs to prefixes (and back) so that
foo:StandardCells also works as lo

[2015-09-23 15:30] sckott commented on #125
thanks @rvosa , looking in to mapping namespaces

[2015-09-23 15:58] sckott commented on #125
Okay, updated namespace mapping https://github.com/ropensci/RNeXML/compare/master...sckott-char-fix - `ns` was missing

Also generalized `get_characters_list()` to not be hard-coded to a specific namespace -

all examples and tests pass, so I think this shouldn't break anything

`devtools::install_github("ropensci/RNeXML", ref = "sckott-char-fix")`

[2015-09-23 16:58] cboettig commented on #125
Nice work Scott in tracking it down to the namespace issue.  Looks like this is essentially a version of issue #51, where the problem is that the attribute values, as well as the attribute names, are namespaced.  The XML package has native support for arbitrary namespace abbreviations in any XML fields (node names, attribute names, etc) but the attribute values are treated as strings and I'm not s

[2015-09-23 18:28] sckott commented on #125
@cboettig Okay, let let me know if you want me to PR that branch to master

[2015-09-23 18:33] cboettig commented on #125
@sckott yup, go ahead with a PR.

Looking at @rvosa 's [comments](https://github.com/ropensci/RNeXML/issues/51#issuecomment-48178815) in the #51 thread, it looks like namespaces on values is a generic problem that probably isn't automatically handled by other NeXML parsers either, so IMHO your solution is best (e.g. less fragile than any of the alternatives suggested).

[2015-09-24 10:06] rvosa commented on #125
They can be inherited from any ancestral element that can override each
other, the most recent ancestor taking precedence. Doing a global search
and replace could therefore result in hard to track down bugs.

My sense is that it's really best to have an actual mapping such that from
any focal element you can traverse towards the root and find the nearest
ancestor that binds prefix 'foo' to a names

[2015-09-24 14:00] cboettig commented on #125
Thanks Rutger!

Right, but I guess what I'm not clear on here is how we are supposed to handle the case where no namespace is applied, and thus there is no `:` to split upon (or otherwise the `:` is not related to a namespace).  e.g. one can have:

[code]
instead of the more explicit:

[code]

So if we are playing by the rules of inheritance in xml, shouldn't it also be valid to have:

[code]

Whe

[2015-09-24 15:48] rvosa commented on #125
Hi Carl,

context applies to the element. This namespace can be identified by
traversing from the focal element to the root looking for the nearest
xmlns="http://example.org", as opposed to xmlns:ns="http://example.org".

In most NeXML documents this will lead you back to the root element, which
often has an xmlns="http://www.nexml.org/2009" on it. Of course for any
given focal element only a sing

[2015-09-24 16:06] cboettig commented on #125
@rvosa ah ha! Right, of course I had forgotten that these types were constrained by the schema to begin with, so that makes perfect sense.  Thanks much for the detailed reply, that does clear things up for me.

[2015-09-26 22:03] hlapp commented on #125
Just for the record, the file had to be modified from the original returned by the Phenoscape API, because otherwise RNeXML throws an error when loading it. See #124.

[2015-09-26 22:11] hlapp commented on #125
Perhaps this will help in the short-term with the output the Phenoscape API is returning (@balhoff - what are you plans to make this less verbose and more compliant with prefix conventions ? See #124) but I'm assuming we all understand that this is only a temporary fix?

[2015-09-27 21:21] cboettig commented on #125
@hlapp Correct, this is a temporary fix for the problem described in the title of this issue thread.  The deeper is issue has already been logged as issue #51, as noted above, which still awaits a proper solution.  As highlighted in #51, this issue may be impacting other nexml parsers as well, since most XML libraries, e.g. libxml2 on which `XML` is built, deal with the namespaces of XML elements

[2015-09-28 18:32] balhoff commented on #124
@hlapp in the next few weeks I will try to look into how to remove the redundant namespace declarations. I recall that it resulted from my workaround for the fact that the XML library I was using didn't automatically handle namespaces for attribute values.

[2015-09-30 12:42] hadley opened #127 "R CMD check failures"
With dev version of testthat, I see

[code]
[code]
[code]

[2015-09-30 13:19] cboettig commented on #127
Thanks!

 I think this is mostly due to the new phytools release, but in my queue.

[2015-09-30 20:07] hlapp commented on #124
As an addition piece of information, here is the error that results from `nexml_read()` on the output returned by the Phenoscape API:

[code]

[2015-09-30 21:37] hlapp opened #128 "nexml_validate issues warnings on validating valid NeXML"
Here's the log:

[code]

The [file](https://github.com/xu-hong/rphenoscape/blob/master/inst/examples/test_original.xml) is the original NeXML returned by the Phenocape API.

One thing that might come into play here is the use of HTTP URIs as local identifiers. I have filed issue phenoscape/phenoscape-kb-services#15 for whether this is on purpose, and what motivates it.

[2015-09-30 23:46] #127 closed

[2015-10-01 01:38] balhoff commented on #124
I was wrong that it was a workaround I did. I use the XMLbeans API to write the documents. It looks like it always redundantly declares a namespace for writing QName attribute values. I know how to specify namespace prefixes for the whole document, but haven't yet found a way to specify which prefixes I want for these QName values.

[2015-10-01 03:07] cboettig commented on #128
Right, but these errors come straight from the nexml.org validator, and I get the same errors when I just upload the file to the browser, so this is not an RNeXML issue.

Incidentally, I'm getting validation errors from the nexml.org validator when I try with no namespaces on the elements as well (just as we discussed), even though I would have thought the default namespace would be inferred.  @rv

[2015-10-01 09:23] rvosa commented on #128
These errors are not mysterious at all: XML identifiers (that is, id
attributes that can be referenced elsewhere in a document) have to be
"non-colonized names" (NCName). URIs are not suited for this: they contain
colons, as well as other characters that (AFAIK) are also not allowed under
the production rules for NCNames (namely, the forward slashes).

On Wed, Sep 30, 2015 at 11:37 PM, Hilmar Lapp

[2015-10-01 09:27] rvosa commented on #128
It is impossible to say without seeing the input file and the log. Apart
from the integrity checks about whether the right blocks are referring to
each other (which you can't really express in XML Schema) the validation is
for the most part a totally generic XML Schema validation that involved
essentially zero coding on my end, so the scope for bugs there is probably
limited.

[2015-10-01 12:05] hlapp commented on #128
The XML isn't valid. See @balhoff's comments on phenoscape/phenoscape-kb-services#15

[2015-10-01 14:42] cboettig commented on #128
@rvosa @hlapp @balhoff Thanks, that makes perfect sense in the case of the phenoscape example.

I'm still a little confused by the validation with respect to having namespace prefixes like`nex:` on the values of attributes (particularly the value of `xsi:type` attributes.  For instance, [this NeXML file](https://github.com/ropensci/RNeXML/blob/master/inst/examples/meta_example.xml) is valid by the

[2015-10-01 14:54] rvosa commented on #128
On Thu, Oct 1, 2015 at 4:42 PM, Carl Boettiger <notifications@github.com>
wrote:

I wonder what would happen if you removed the xsi:schemaLocation attribute
from the file that fails if the xsi:type is not fully qualified. In your
former case (the file that succeeds whether or not there is a prefix) we
don't actually say anywhere explicitly where the schema is located - though
the validator knows,

[2015-10-05 14:53] balhoff commented on #125
@rvosa I was reading back through this thread and want to question one point. Above where you say

instance implements. This is done using these xsi:type statements, and the
value *must* always be a QName, i.e. fully qualified, with prefix and
colon. In implementing a mapping between prefixes and namespaces that, at
least, should be some relief.

I don't think that is right. A QName does not have

[2015-10-05 16:46] balhoff commented on #128
@hlapp XML coming out of OntoTrace should validate completely now (since 2015-10-5). Please let me know if you encounter any problems.

[2015-10-06 13:08] rvosa commented on #125
Yeah, our progressing insight has indeed led us to conclude that a prefix
is NOT required, i.e. xsi:type="..." can be specified without it. You're
right, and I wasn't.

[2015-10-06 13:13] balhoff commented on #125
Every time an issue comes up with this stuff I end up slowly re-learning all the details that I had previously figured out and forgotten.

[2015-10-07 20:19] hlapp opened #129 "How to access the taxon IDs if the NeXML source contains them"
Perhaps there is an easy way in the API already - how does one get at the the taxon IDs as annotated, for example, in the form of dwc:taxonID metadata? Like here in the NeXML produced by the Phenoscape API:

[code]

cc @xu-hong.

[2015-10-08 16:48] cboettig commented on #129
A couple ways, depending on how you like.  You can always query the S4 object structure, as described in the S4 vignette (https://cran.r-project.org/web/packages/RNeXML/vignettes/S4.html), which is the natural R way.  You can query by xpath, but that's less easy in RNeXML since we assumed few users would know xpath (or if they did, would just be doing the parsing directly with XML library)

Um, st

[2015-10-08 18:59] hlapp commented on #129
Isn't the S4 way to use API methods rather than accessing the object structure directly? (Otherwise, why even use an S4 object?)

The `dwc:taxonID` annotation. I.e., the ID is the object of the `dwc:taxonID` relationship, or http://purl.obolibrary.org/obo/VTO_0061495 in the example above.

The `id` attribute of the `<otu/>` element is, I think, not useful, because it's local and not expected to ro

[2015-10-08 23:10] cboettig commented on #129
Hi @hlapp,

Yes, as I mentioned there are several ways, most of which are in the documentation.  For instance, you can get the metadata from `otu` level options with the `get_metadata(nex, level="otu")` function, which is an S4 method (as opposed to S4 subsetting).  Let me know if that gets what you want.

Sorry to be disappointing, without understanding the use case and the user's preferences bet

[2015-10-08 23:15] cboettig commented on #129
(Whoops, forgot the link to the metadata vignette: https://cran.r-project.org/web/packages/RNeXML/vignettes/metadata.html)

[2015-10-08 23:46] hlapp commented on #129
The use case is to extract a table that maps OTU labels (which are the row labels in the data.frame returned by `get_characters()`) to corresponding taxon IDs. According to the list made by @sckott in ropensci/traits/#38, ID is a candidate for being fairly common among trait data API packages, @xu-hong and I were brainstorming how to obtain (and return) those.

Does `get_metadata("dwc:taxonID",lev

[2015-10-13 20:46] hadley opened #130 "Test failure with dev testthat"
[code]

I'm submitting this afternoon, so you may want to prepare a new release in the near future

[2015-10-13 20:51] cboettig commented on #130
Thanks, this is due to a recent update in the `phytools` dependency actually and not the fault of `testthat`.  Just put a new release into the queue today!

[2015-10-14 20:25] hlapp commented on #123
@sckott and @cboettig: for context, the idea is that fixing this would allow the return value from `httr::content` (with the NeXML document returned by the Phenoscape API) to be passed on directly to `nexml_read`, instead of having to create a temporary file first. Can you confirm that this is indeed how it would work if the above issue were corrected?

[2015-10-14 20:29] hlapp commented on #129
@cboettig or @sckott - any input on this?

[2015-10-14 21:26] sckott commented on #129
@hlapp not sure, example to play with?

[2015-10-14 21:37] sckott commented on #123
Hmm, one option would be to make an S3 generic and dispatch on different inputs instead of using `if..else`

e.g.,

[code]

[2015-10-14 21:48] hlapp commented on #129
The example query in the [Phenoscape Apiary docs for OntroTrace](http://docs.phenoscapekb.apiary.io/#reference/ontotrace/ontotrace/generate-matrix-of-inferred-presence/absence-associations-for-anatomical-structures-subsumed-by-the-provided-entity-class-expression,-for-any-taxa-within-the-provided-taxon-class-expression) will do: http://kb.phenoscape.org/api/ontotrace?taxon=%3Chttp%3A%2F%2Fpurl.obo

[2015-10-14 21:52] hlapp commented on #123
Is `if...else` a discouraged way of doing this? Or are you saying that there is more to changing the order of the conditions to make the problem go away?

[2015-10-14 21:56] sckott commented on #123
The way I proposed is just another way of dealing with various inputs. In the case where a function can have lots of different inputs, the above seems a little bit cleaner, thoughts @cboettig

[2015-10-14 23:05] cboettig commented on #123
@sckott sure, that looks like a good way to deal with the issue and make the code cleaner.  @hlapp Scott's approach just relies more explicitly on classes, I think it should also deal with the problem based @xu-hong 's comments.  Haven't had a chance to dig into this, but PR welcome.

[2015-10-15 01:09] sckott commented on #123
it's coming

[2015-10-15 16:23] cboettig commented on #129
It looks like `get_metadata` return order is that given by XPath for the matching node set, while `get_taxa` is just using R's `lapply` over the structure. In both cases though I would have thought the order would just be that in which these elements appear in the XML file; is that not the case?  Or is that not the desired behavior?  Not sure if there was a good reason for `get_metadata` to use XP

[2015-10-15 16:54] sckott commented on #129
Looks like `get_characters()` is the only one that doesn't return them in order

[code]

[2015-10-15 18:18] hlapp commented on #129
So is the real issue that the rows in the matrix need to be reordered to be consistent with what the other methods return?

[2015-10-15 18:20] hlapp commented on #129
Does the link to the issue on the rphenoscape tracker help establish enough context as to where this is coming from? Essentially the use-case is to create mapping tables from name to identifier(s). To apply these painlessly and with the least gotcha's, the names in the mapping table should be in the same order as everywhere else. Does that make sense?

[2015-10-15 18:31] cboettig commented on #129
@hlapp yeah, the rphenoscape example is helpful, but I'm still processing the details here.

It's not clear to me why the order in which the characters are returned in the table matters; in that generally we expect methods that operate on data.frames to be agnostic of the order of the rows.  I thought NeXML had the same philosophy that in general it encodes all data explicitly in fields, rather th

[2015-10-15 18:31] hlapp commented on #129
BTW I assume I just don't know enough R anymore, but presumably it's easy to filter the list

[2015-10-15 18:39] hlapp commented on #129
Isn't it pretty common in R to use the index for subsetting? Say I wanted to subset the matrix to keep all rows for taxa that have an identifier:

[code]

Say you have a function `pk_is_descendant(x1, x2)` that returns TRUE if x2 is a descendent of x1 and FALSE otherwise:
[code]

Does that make sense?

[2015-10-15 18:42] hlapp commented on #129
The piece that is being used elsewhere for row and column labels. For example, the data matrix uses apparently the taxon labels for its row labels, and the character labels for its column labels.

[2015-10-15 18:57] cboettig commented on #129
Yup.  I think that was a bad choice though.  The row labels should be a column, and the rows should be unlabelled. This is more consistent with database design and more robust for manipulation.

Yes, people subset in R with index vectors, but typically only when the index vector is constructed from a column of the data.frame you are subsetting (where clearly you cannot have the problem of differen

[2015-10-15 20:50] xu-hong commented on #129
Hi @cboettig,
I agree that ```get_characters()``` should return a ```data.frame``` that has taxon labels as a column, instead of row labels. But perhaps the ```data.frame``` should not include a column for ```ids``` - my understanding is that ```ids``` are not always the information the users need to know when they ask for ```OntoTrace matrix```?

```ids```should be found separately in the ```data

[2015-10-16 01:44] hlapp commented on #123
I think this can be closed as per #131 and @xu-hong's confirmation.

[2015-10-16 01:44] #123 closed

[2015-10-16 16:04] hlapp commented on #129
Yes, I agree, that seems more natural. That said, it would be easy enough to splice out the ID column in rphenoscape (and to construct a separate data.frame with metadata mapped to taxon labels) before returning the result to the user, in case @cboettig would rather put it into the data.frame returned by `get_characters()`.

[2015-10-16 16:33] cboettig commented on #129
Thanks for the advice here, very helpful.  I'm still a tad leary of using labels instead of ids as keys for indexing and joining tables, (I'm guessing labels can have more weird UTF-8 chars then ids, and thus cause trouble if a user has not configured locales sensibly), isn't that why we have ids in the first place?

Are we always guaranteed to have both id and label elements available (i.e. are t

[2015-10-17 19:03] rvosa commented on #129
No! The label attribute is optional.

[2015-10-17 22:08] cboettig commented on #129
@rvosa very good, that makes much more sense.  I'll return ids as the key column for each of the data.frames

[2015-10-17 22:55] hlapp commented on #129
Which IDs? The ones in the `id=""` attribute? That would, I think, be a bad choice, because they are ephemeral, not expected to roundtrip, and local to the document. Or in other words, a sequential numbering would just be as good, but would not give the impression that any assumptions could be made about  the ID.

[2015-10-17 23:13] cboettig commented on #129
Right, they are local to the document, but they'd still be better than
assuming the row order with no id's at all?  What is the purpose of those
ids? What would you recommend we use?  Using an optional element seems
unwise, right?

On Sat, Oct 17, 2015, 3:55 PM Hilmar Lapp <notifications@github.com> wrote:

--

http://carlboettiger.info

[2015-10-17 23:59] rvosa commented on #129
Also, there is no requirement that all otu attributes, even if they're there, are unique.

@hlapp do you think it would ever be problematic that the ids are ephemeral? I mean, in practice? They are unique keys for managing referential integrity within the document, anything else you should use an annotation for (example: any kind of database ID).

[2015-10-18 00:05] hlapp commented on #129
Exactly (and @cboettig, this is the answer to your question - they are in essence local primary keys, which are never really useful to expose or export to anything else, including not from XML documents) . So you might as well use a sequential numbering - it's unique for each row, and will obviously be local to a data matrix (whereas that fact might be much less obvious from the XML doc's primary

[2015-10-18 14:21] rvosa commented on #129
I must apologize for not having read the thread closely enough. If @hlapp's
use case is to map *names* to taxon ID annotations then this sounds to me
like a table with two columns: one with the label attribute - being the
place where names go - and one with the value of the taxon ID annotation
(in this case a URI).

The consequence is that the names column may legally have empty or
non-unique valu

[2015-10-21 04:32] #130 closed

[2015-10-21 20:10] hlapp commented on #129
Just as an FYI, now that @balhoff implemented identifier annotations for character definitions (see phenoscape/phenoscape-kb-services#20), we can see that the order in which `get_metadata(nex, level="char")` returns results isn't the same as the order of columns in the matrix returned by `get_characters()` either.

So right now, `get_metadata()` is kind of useless for getting at those metadata. An

[2015-10-21 21:05] cboettig commented on #129
Sounds good to me.

I've implemented a new version of get_metadata now on the `drop-nex` branch, which returns a data.frame that contains as its columns the attribute values of any meta elements at the desired level, along with the id of the parent element,  e.g. [this NeXML](https://github.com/ropensci/RNeXML/blob/master/inst/examples/primates.xml) gives:

[code]

No idea if this is wise or not,

[2015-10-21 21:15] hlapp commented on #129
I guess I'm curious what you mean by _similar data.frame`. ID, label, and? And for `get_characters()`, are you thinking about returning a data.frame instead of a matrix? Not being sure what data structure you have in mind, I'll just note that I'd be wary of sticking too many columns into the matrix (or data.frame) that aren't part of the character matrix.

[2015-10-21 21:25] cboettig commented on #129
Good questions, and please push back if I'm saying something silly; you, @xu-hong and @balhoff have a better idea than me about the actual use cases here.

For `get_taxa`, I'm thinking of returning the attribute values of the `otu` elements -- really that's just `id` and `label` (but could include `about` and `xsi:type`). For reference, this would probably also include a column with the parent id

[2015-10-26 23:19] cboettig opened #132 "taxize_nexml() identify higher-level taxonomic names automatically?"
Hey @sckott ,

`taxize_nexml()` does a nice job of getting metadata when the labels are good species names.  Would it be possible to extend this to handle names that are higher-order taxonomy?  e.g. this nexml file gives otu labels as families I think:  https://github.com/ropensci/RNeXML/blob/master/inst/examples/geospiza.xml

e.g.

[code]

[2015-10-26 23:50] sckott commented on #132
That file has mostly specific epithets within _Geospiza_, and two genera outside of _Geospiza_ (AFAIK) -  _Pinaroloxias_, and _Platyspiza_

Ideally, before searching, we'd have the fullest name possible, given the data, e.g., _Geospiza magnirostris_ instead of just _magnirostris_ - It doesn't look like the name _Geospiza_ is anywhere in that file though that I can see. other than the file name.

R

[2015-10-26 23:57] cboettig commented on #132
Thanks!  right, looks like the data just isn't precise enough in this case then.

Um, more generally, do higher taxonomic names work?  In similar vein, wondering if we should modify the function to return the two additional meta blocks like what @rvosa 's tool does [here](https://github.com/ropensci/RNeXML/blob/master/inst/examples/primates.xml#L14-L15), specifying whether the name is a Species or

[2015-10-27 00:18] cboettig commented on #129
@hlapp @xu-hong others what do you think of this approach (now implemented on the `drop-nex` branch): https://github.com/ropensci/RNeXML/blob/611de7caa9fc8335b82b29f664574b154ec09d9f/inst/examples/merge_data.md

Note that I've left the `get_characters` just returning the `labels` and have done that join on `labels` instead of `id`, though I'm still not sure if that's ideal or not, particularly sin

[2015-10-27 16:28] sckott commented on #132
Higher taxonomic names should work, yes.

Searching for a higher taxonomic name should return rank as well. Getting parent might be another request though.

[code]

[code]

[code]

So we can get the info that way, presumably some smarter version of it though.

I realized just now that `get.uid()` and related functions could return rank (if available), meaning one more piece of data avail. (meaning

[2015-10-28 03:38] #124 closed

[2015-10-28 19:57] hlapp opened #134 "get_metadata() throws error for level "char""
The following call results in an error since #133 has been merged:

[code]

Level "otu" appears to work fine:

[code]

[2015-10-28 20:14] hlapp opened #135 "rownames_as_col option for get_characters() not working as expected"
The `rownames_as_col` parameter for `get_characters()` is documented as this:

However, the result only includes the taxon _names_, not the IDs:

[code]

The taxon IDs are missing. This means that matching rows with the value returned by `get_taxa()` remains ambiguous (because labels, i.e., taxon names, are not required to be unique).

[2015-10-28 20:33] cboettig commented on #134
Thanks for testing out, sorry about that.  I think you want: `get_metadata(nexml, "characters")`.  The second argument should be the (full) name of a nexml element.  To avoid ambiguity, the function actually expects you to give the full path to the element, e.g. `get_metadata(nexml, "otus/otu")`, but I mapped `otu` and `tree` separately for backwards-compatibility.  Looks like I forgot to do that

[2015-10-28 20:53] hlapp commented on #134
We do want annotations for the `char` elements. If I spell out the path it doesn't work either:

[code]

The second invocation is actually the correct path in the XML, so that the first doesn't work is I guess expected. But the second one _should_ work.

Here are the annotations as an example for one `<char/>` element:
[code]

[2015-10-28 20:57] cboettig commented on #134
oh right, those `char` elements.  That's a bug, I'll take a look.  Can you link me to a complete NeXML file that has `meta` annotations on `char` elements just for my testing?

[2015-10-28 21:52] hlapp commented on #134
Here's an example file: https://github.com/phenoscape/rphenoscape/blob/char-annots-example/inst/examples/ontotrace-result.xml

[2015-10-28 21:55] hlapp opened #136 "Cannot get otus reference from characters block"
NeXML as a format can contain multiple characters and otus blocks, and identifiers are used to tie them together. As per the brief conference call, there is currently no way to obtain the otus reference from a `<characters/>` block that would allow one to properly subset the data.frame returned by `get_taxa()`.

[2015-10-28 22:03] cboettig commented on #134
okay, just pushed a fix, try now.

[2015-10-29 18:20] cboettig commented on #135
Okay, I think this is fixed in the above commit. Please re-open if the issue persists or otherwise needs re-working.

[2015-10-29 18:22] cboettig commented on #129
So I think this issue is now addressed by PR #133 and the fix to #135.  Please highlight any remaining problems as new issues so we don't lose track of them.

[2015-10-29 18:22] #129 closed

[2015-10-29 18:22] #134 closed

[2015-10-29 18:22] cboettig commented on #128
Should be fixed by PR #133

[2015-10-29 18:22] #128 closed

[2015-10-29 18:23] cboettig commented on #125
I think this is also fixed now since merging #133

[2015-10-29 18:23] #125 closed

[2015-10-29 18:26] cboettig commented on #136
Do we need the ids of the `otus` element or just of the individual `otu` values?  The latter is now done via b7635997e5b615961070d5589423844ccb49c85a

If I understood correctly from the call, we just need the latter since the ids need to be unique anyhow.  Any user who wants the otus block ids as well can easily get them from the `get_taxa()` table, along with the labels, etc.

I think this addres

[2015-10-29 18:26] #136 closed

[2015-10-29 18:42] hlapp commented on #136
Is it difficult to return the `otus` value? It's much easier to subset a data.frame by one value than it is to do so by possibly hundreds or thousands. I.e., yes, I can match the `data.frame` returned by `get_taxa()` against a potentially very long list of `otu` IDs, or I can subset the `data.frame` by a single value. Why not allow the latter, unless it's somehow difficult to return the necessary

[2015-10-29 19:00] cboettig commented on #136
No, certainly we could add it in automatically if that's preferred.  But note that the join is just 1 line and performance-wise quite fast:

e.g.

[code]
isn't that much more onerous than:

[code]

and is more general, in the sense that I'd like to encourage users to learn the `join()` pattern because it's more general.  One person wants to filter on otus, but what if you want to filter on some as

[2015-10-31 19:40] xu-hong commented on #135
I found the parameters are not working as designed. The resulting columns are somehow messed up:
[code]
According to original file there should be three columns for anatomical entities - "pelvic splint" is missing here!
[code]
I think the values of ```otu``` column here should be ``` pelvic splint```'s.

The following matrix is not working properly as well.
[code]
I suspect there is one common rea

[2015-10-31 21:28] cboettig commented on #135
Thanks for the report!  Will investigate

On Sat, Oct 31, 2015, 12:40 PM Hong Xu <notifications@github.com> wrote:

--

http://carlboettiger.info

[2015-11-04 18:25] cboettig commented on #135
Okay, sorry for the delay, I've pushed a fix to this in the new branch, https://github.com/ropensci/RNeXML/tree/fix-get-characters which should resolve this error.  (@hlapp I've also added the option to get otus id as well as the otu id now automatically).

This does highlight the question of when the `get_characters` function should be substituting labels for ids and when it shouldn't.  As usual,

[2015-11-04 20:33] hlapp commented on #135
@cboettig - just FYI, the committer shows as "rstudio" for the commits on that branch. Perhaps forgot to configure git?

[2015-11-04 20:36] hlapp commented on #135
My take on this is to have the default behave comparable to what users are most likely to be used to or expect, even if that's not ideal in the case of labels, but to make it easy to get at the IDs for those that want to do something with them. It's the latter that's usually difficult or impossible and neglected, and getting ambiguous labels by default isn't a bad thing if it's easy to map these t

[2015-11-04 22:07] cboettig commented on #135
@hlapp yeah, was running from a docker instance with default git config, whoops.

Right, that makes sense.  I've set the thing to return labels whenever possible.  I've now added a mechanism to detect if the data lacks labels, or has any non-unique labels (which make it impossible to do the table joins one expects of ids), in which case RNeXML will return id values.

[2015-11-04 22:21] xu-hong opened #137 ""get_characters" function that is equivalent to get_taxa?"
Currently what the ```get_characters``` function really does is "get characters matrix". There is no equivalent function to ```get_taxa``` for anatomical entities.
[code]
Users would want to see the mapping from ```label``` to ```char``` for anatomical entities as well.  There should be a function that returns the data frame similar to what ```get_taxa``` returns.
cc @hlapp

[2015-11-04 22:34] cboettig commented on #137
Right, `get_characters` returns the characters matrix by default, since that's the object most people are probably familiar with.  And as you know, we know have options to get little bits of more metadata, such as the `otu` and `otus` value.

I agree that it could behave more like `get_taxa`, but not quite sure what is needed.  Keep in mind there's _a lot of possibilities_ since the character data

[2015-11-05 12:16] rvosa commented on #137
Isn't it a bit of a misnomer to call a method that returns the matrix
"get_characters". May expectation would probably be that it returns a list
(or structure like that) of the matrix columns, with whatever metadata is
attached to them.

On Wed, Nov 4, 2015 at 11:34 PM, Carl Boettiger <notifications@github.com>
wrote:

[2015-11-05 15:13] cboettig commented on #137
@rvosa Thanks for feedback.  I'm an afraid I'm really sure I understand what data you expect or how you'd like it to be formatted.  A few observations about the current format:

- To me it's not clear how `get_chatacters_matrix` is very different than the slightly less verbose `get_characters`.
- I've tried to be consistent with the originally released version of this function, which returns the c

[2015-11-05 15:49] hlapp commented on #137
Just to be clear about what one of the driving use-cases is from the rphenoscape point of view, we need to be able to map character labels to character annotations, including identifiers (not to be confused with the document-local IDs for `<char/>` and other elements, which are the IDs used in the XML document to tie together entities). We can now use `get_metadata(level="characters/format/char")`

[2015-11-05 15:55] cboettig commented on #137
Ah, thanks!  that makes perfect sense.  So we need char id values?  For
now, can you try `get_level(nex, "characters/format/char") ` (on the
fix-characters branch)?  I think that's the data you're looking for?

On Thu, Nov 5, 2015, 7:49 AM Hilmar Lapp <notifications@github.com> wrote:

--

http://carlboettiger.info

[2015-11-06 20:01] xu-hong commented on #137
Thanks! But I cannot access ```get_level()``` function, on the ```fix-get-characters``` branch. I guess it's not exported?

[2015-11-06 20:30] cboettig commented on #137
Right, not exported yet since not documented or fully tested, by you can
always do RNeXML:::get_level

On Fri, Nov 6, 2015, 12:01 PM Hong Xu <notifications@github.com> wrote:

--

http://carlboettiger.info

[2015-11-06 21:31] xu-hong commented on #137
Ah! Thanks. Yeah,  I believe it produces the result we wanted to see.
[code]
If I am understanding it right, the ```id``` column from above result  corresponds to the  ```char``` column in the following data frame right?
[code]

[2015-11-06 22:14] cboettig commented on #137
Correct, id is the id attribute of the specified level (char in this
case).  All col names (including id are just the attribute names from that
level, except the last column which has the id of the parent, and is named
using the parent's element.

Perhaps it would be cleaner to go ahead and rename the id column with the
element name?  I guess that would make joins easier, though it might not be
ob

[2015-11-17 00:49] #135 closed

[2015-11-17 00:52] cboettig commented on #137
Okay, should be all fixed in master now.  Also has `get_level` exposed to the user.

[2015-11-17 00:52] #137 closed

[2015-11-17 00:54] cboettig commented on #108
All good points here.  Just for the record, here's how we originally decided on what we have here

https://github.com/ropensci/RNeXML/issues/48

[2015-11-25 22:24] xu-hong opened #139 "nexml_read and get_characters give warnings"
There are warning given out every time you try to read or parse a nexml. Not sure where it comes from, but it seems harmless. Maybe okay to suppress it?

[code]

[2015-11-25 22:36] cboettig commented on #139
Right, they are intentionally introduced and harmless.  will suppress now.

[2015-11-26 21:12] hlapp opened #140 "Packages uses IDs instead of labels when labels are non-unique"
After an hour of hunting around and debugging it seems that the `get_characters()` method will use the IDs of the `<otu/>` and `<char/>` elements for the row and column labels of the matrix, respectively, if the respective labels are not unique. Is that correct? Here is an [example NeXML file from the Phenoscape API](http://kb.phenoscape.org/api/study/matrix?iri=http://dx.doi.org/10.1111/j.1096-36

[2015-11-26 21:52] cboettig commented on #140
Yup, that's correct (https://github.com/ropensci/RNeXML/blob/master/R/get_characters.R#L115); sorry, I thought it was in the docs for `get_characters` but it isn't.  I better fix the docs

[2015-12-18 17:18] laurajackson opened #141 "Retaining Metadata in a Modified XML File"
I am currently using the RNeXML package to import the following data matrix in XML format, modify it to remove some of the character matrix data, then get the same XML file back keeping all the original metadata from the input file. I am able to get the modified matrix as a .csv file, but am unable to convert this new matrix into an XML that still contains the original data from the input file. I

[2015-12-18 18:04] cboettig commented on #141
Hi @laurajackson ,

Right, you won't be able to use `get_characters()` for this, since transforming the NeXML structure (which can be nested to arbitrary depth) into a single table (e.g. just rows and columns) will always involve some loss of information.  To avoid this, you must stick with a nested data structure such as the `nexml` object class provided by RNeXML.

It's a unfortunate reality tha

[2015-12-29 19:31] hlapp opened #142 "Update package on CRAN"
It looks like the version currently up on CRAN doesn't include the more recent changes, which, for example, results in some warnings [when integration testing rphenoscape](https://travis-ci.org/xu-hong/rphenoscape). Although there seem to be ways now [to specify dependencies on packages that are on Github instead of CRAN](http://stackoverflow.com/questions/30493388/create-an-r-package-that-depends

[2015-12-29 19:49] cboettig commented on #142
Definitely!  CRAN is very picky about these things though.  CRAN will refuse to accept updates it does not request if they come too frequently (except in the first month or so for a new package), even if those updates contain major bug fixes.  I think the usual interval is no more than one update every 2 months, but this is enforced somewhat variably and can be hard to predict.  I think it's been

[2016-01-18 17:15] cboettig commented on #142
Whoops, forgot to close this.  New version is on CRAN (as of 2015-12-31)

[2016-01-18 17:15] #142 closed

[2016-01-18 17:19] cboettig commented on #141
@laurajackson Did you figure out what you need here?  As discussed above, retaining metadata shouldn't be a problem if you use R's S4 structure, but a character matrix is a fundamentally less metadata-rich data structure, and any function that coerces XML into that format will be lossy.  Does that make sense or am I missing something here?

[2016-05-02 19:16] sckott opened #143 "Error with add_basic_meta"
was in process of updating all our tutorials on the website, and ran into this problem

[code]

When trying to print the `birds` object I get

[code]

just me?

[code]

[2016-05-02 19:29] cboettig commented on #143
Weird, I can't replicate. I see:

[code]

with sessionInfo:

[code]

Wild guessing it might be related to the dev version of `dplyr` you are running?  Can you show the error trace?

[2016-05-02 19:48] sckott commented on #143
I'll check `dplyr` version

[2016-05-02 19:54] sckott commented on #143
yeah, that's it, works fine with current cran version of `dplyr` - i guess closing this is good, or maybe there's something to fix for upcoming `dplyr` on CRAN

On the `add_basic_meta()` call I get this (with trace below the error):

[code]

[2016-05-02 20:00] cboettig commented on #143
@sckott Sounds like we better fix this for the upcoming dplyr anyhow.  Not sure what the issue is though.  Can you drop into debug and see if `mymeta` still has a column called `content`?  It looks like it should have a column called `content` and a column called `property` (it gets these names from the xml attributes in parsing the NeXML).  Maybe "content" is now protected somehow and we just nee

[2016-05-02 20:10] sckott commented on #143
right, can do

[2016-05-31 23:36] sckott commented on #143
Getting error now on calls to `new("nexml")`, e.g.,

[code]

[2016-05-31 23:57] sckott commented on #143
@cboettig I think that's the main problem, how do you prefer to handle it?  Seems we could catch every call to a column name and give back NULL when the column doesn't exist. e.g.,

[code]

if that column `content` doesn't exist, we get a `NULL`

[2016-06-01 17:00] cboettig commented on #143
Hmm, I don't think that will fix it in general; there are other places this arises than regards to the `content` column on the `mymeta` data.frame.  I believe that function calls `get_level()` , which calls some `tidyr` function.

I think we need to do the traceback and figure out which tidyr call has changed and how (partly to make sure we are not just losing some data in the process).  Sorry, I

[2016-06-01 17:12] sckott commented on #143
okay, i'll keep digging, and look for `tidyr` calls specifically

[2016-06-13 17:32] sckott opened #144 "example with cite() function call fails"
in the `add_basic_meta` function examples

[code]

there is a `utils::cite`, but there's no function `cite` in this pkg, or in `knitcitations`, though `knitcitations` does have `citep` and `citet`, was one of those intended?

[2016-06-13 17:56] cboettig commented on #144
looks like it should be `bib_metadata` instead of `cite`.  whoops.  (I think I was trying to avoid the collision with `utils` in the more recent `knitcitations` and changed the api...)

[2016-06-13 18:02] #144 closed

[2016-06-13 22:00] sckott commented on #143
@cboettig still tweaking travis builds trying to get them to work, not sure how to get dev version of devtools installed on travis

[2016-06-18 22:41] hlapp commented on #143
It looks I'm getting this same error from [rphenoscape](http://github.com/phenoscape/rphenoscape):

[code]

I come here because the `rphenoscape` vignette fails to build now:

[code]

Lines 49-50 in rphenoscape.Rmd is this:
[code]

The help for `nexml_read` says pretty clearly that `xml_document` and `xml_node` are OK and supported, so perhaps the error message is bogus and it's really the `Error:

[2016-06-18 22:51] cboettig commented on #143
@hlapp I think this is already fixed in 2.0.7.  this error was due to a change in tidyr package dependency.

Can you be sure to install the latest version of this package with devtools:: install_github

[2016-06-18 22:53] hlapp commented on #143
@cboettig assuming you mean `RNeXML` with v2.0.7, which branch would that be? `master` shows as v2.0.6.

[2016-06-18 22:55] cboettig commented on #143
Oh right, haven't pushed the bump in version yet since cran hasn't accepted it (waiting behind the dplyr release which just went to cran).  But install from github should a still fix the issue

[2016-06-18 23:15] hlapp commented on #143
That indeed made the `nexml_read()` work on a file:

[code]

But the issue raised in the rphenoscape code and vignette remains:
[code]

Any thoughts why? Is this a separate issue I should post separately on the tracker?

[2016-06-18 23:39] hlapp commented on #143
Looks like `xml2` has changed its return value. I'll post this as a separate issue.

[2016-06-18 23:47] hlapp opened #146 "xml2::read_xml has changed return value to class c( "xml_document", "xml_node")"
[code]
`read_xml` is what `httr::content()` calls to parse text/xml documents.

Apparently `nexml_read()` expects `XMLInternalDocument` or `XMLInternalNode`, not `xml_document` or `xml_node`. I can't figure out how to coerce the latter into the former (using `as()` results in an unsupported coercion error).

Can this be fixed somehow? Otherwise we're back to have to write NeXML documents pulled fr

[2016-06-19 00:42] cboettig commented on #146
The httr package changed its default xml parser from XML to xml2 (& msybe the default of content became parsed instead of text I think).  This should be easy to fix (but maybe not easy enough to do from my phone), https://github.com/ropensci/RNeXML/blob/master/R/nexml_read.R#L45 should have `as = "text"` in the call to `content` ...

[2016-06-19 04:45] #146 closed

[2016-06-19 04:48] cboettig commented on #143
Think we can close this now too

[2016-06-19 04:48] #143 closed

[2016-06-20 22:04] hlapp opened #147 "get_characters() fails, possibly due to dplyr bug?"
Here is the stack traceback:

[code]

BTW I get this error too from the rphenoscape vignette. (It's past the first error now after fixing the XML parsing.)

Is something awry with `dplyr` or is there another issue?

[code]

[2016-06-20 22:24] cboettig commented on #147
@hlapp sorry, this is also due to the current `dplyr` version.  `matches` was introduced in the new `dplyr`, whose release is 3 days out I'm told.  Unfortunately in patching RNeXML for the upcoming `dplyr` meant being incompatible with the current `dplyr`.  As in previous issues, this one should go away if you install using:

[code]

which will get the pre-release dplyr (0.4.3.9001) from our `addi

[2016-06-20 22:53] sckott commented on #147
did the dev version of `RNeXML` work @hlapp ?

[2016-06-21 15:21] hlapp commented on #147
@cboettig looks like the automatic way you describe doesn't work:

[code]

I'll reinstall `dplyr` from Github by hand. I hope the binary CRAN versions of the other packages are OK?

[2016-06-21 15:27] hlapp commented on #147
Looks like installing `dplyr` from Github doesn't work either:

[code]

And that then keeps cycling over those two steps forever, never finishes.

[2016-06-21 15:57] cboettig commented on #147
@hlapp apparently you need the github version of devtools to install the github version of dplyr.

Sorry the way i suggested didn't work, I hadn't tested on a Mac.  Try adding `type="source"` to the call -- for some reason it is not detecting that Mac binaries for dplyr are not available but source is.

[2016-06-26 00:17] hlapp opened #149 "server.carlboettiger.info fails to resolve"
The `README` for the `manuscripts/` directory includes a badge from http://server.carlboettiger.info:88/github.com/ropensci/RNeXML, but the server name fails to resolve through DNS.

Is that badge good for something? If yes, is the server now under a different address?

[2016-06-26 01:04] hlapp opened #151 "Call to geiger::fitDiscrete() in README.Rmd fails"
This is from the chunk in lines 181-183:

[code]

I'm not sure how fix this.

[2016-06-27 17:21] cboettig opened #154 "Same namespace URI given under two different prefixes in default list of namespaces"
See: https://github.com/ropensci/RNeXML/pull/153#discussion_r68511277

Updated by @hlapp: `nexml_namespaces` defines the DC Terms URI both under prefixes `dcterms` (which is the one commonly used) and `ter` (which, to say the least, is not widely used).

[2016-06-27 17:33] hlapp commented on #147
Fortunately, the update has now been released on CRAN, and installing it fixes this issue.

[2016-06-27 17:33] #147 closed

[2016-06-27 20:20] cboettig commented on #149
thanks, right, that server is no longer around and that badge should just be deprecated now, since the manuscript is now built on circleci instead (for which we already have a badge).

[2016-06-27 21:28] cboettig commented on #149
Badge removed

[2016-06-27 21:28] #149 closed

[2017-02-14 10:34] FabianRoger commented on #55
hej,

I was just wondering how far you have gotten with your support for phyloxml? trying to read a phyloxml tree with ```read.nexml``` I get the error message

    invalid class “MethodWithNext” object: invalid object for slot "nextMethod" in class "MethodWithNext": got class "NULL", should be or extend class "PossibleMethod"

Strangely, after converting the tree to nexml with python

    from Bi

[2017-02-14 17:30] hlapp commented on #55
@FabianRoger I do think PhyloXML support is beyond the scope of this package. Maybe you want to ask at naturalis/biovel-nbc#1?

I'd vote we close this issue as out of scope.

[2017-03-22 18:59] cboettig opened #159 "Address CRAN request re length of condition on if statements"
You may be aware that recently there was some discussion on the r-devel
mailing mailing list whether control statements with condition with
greater than one should give error (and not just a warning).  This
behavior can now optionally be obtained in current development versions
of R by setting env var _R_CHECK_LENGTH_1_CONDITION_ to something true.
Tomas Kalibera (cc) has run a full CRAN check wit

[2017-03-22 19:00] cboettig opened #160 "Address CRAN request re README.md images"
Output graphs from the `.Rmd` should be in `/tools` subdir and not be `.Rbuildignore`'d.  This way the .md can be rendered to HTML on CRAN.

[2017-05-03 07:27] laurajackson opened #161 "xml matrix with polymorphic states"
It seems that when reading in an XML matrix file into R using the RNeXML function (read.nexml), any cells that contain a polymorphic state (i.e., both 0&1 in a single cell) are improperly read as NA. Is this a bug with the package, or is there a specific code to fix this issue?

[2017-05-03 15:47] cboettig commented on #161
Can you link me to an example of that and I'll take a look

[2017-05-03 16:18] laurajackson commented on #161
Here is a small example file. I am generating the matrices using the Phenoscape Knowledgebase.

[Testmatrix.xml.zip](https://github.com/ropensci/RNeXML/files/974016/Testmatrix.xml.zip)

[2017-05-03 21:54] cboettig commented on #161
Okay, I think this should be patched in the commit I just pushed.

Note that the issue here (as you may know) is that for a polymorphic or uncertain state, `symbol` is an `xs:string`, while usually it is defined as a positive integer (StandardToken), see http://nexml.org/doc/schema-1/characters/standard/#StandardUncertainStateSet vs  http://nexml.org/doc/schema-1/characters/standard/#StandardToken

[2017-05-04 13:13] rvosa commented on #161
States were made integers only to make it all work within the confines of XML schema language in such a way that compact, "standard", character state sequences (space-separated strings) could be validated. There is certainly no conceptual reason why categorical states should have integer semantics; factors make more sense under nearly all circumstances (unless you think ordered states under maximu

[2017-05-04 18:21] cboettig commented on #161
Thanks @rvosa , that makes perfect sense.

[2017-10-16 04:33] #160 closed

[2017-11-07 05:48] cboettig opened #163 "patch for compatibility with upcoming version of testthat"
3. For each failing check, either update your package, or tell me
   that I have a bug. If you have made changes to your package, please
   submit an update to CRAN before Nov 13.

If you have discovered a bug in testthat, please file an issue
(ideally with a small reprex that illustrates the problem) at
https://github.com/r-lib/testthat/issues. If you're not sure whether
or not you've found a bug

[2017-12-15 19:12] gvegayon commented on #55
Hi, I just wanted to comment that I've just started a new R package to Read/Write phyloXML https://uscbiostats.github.io/rphyloxml/ (which the R-sig-phylo mail list discusses in [this thread](https://www.mail-archive.com/r-sig-phylo@r-project.org/msg05126.html)). As I already mention to @hlapp, I'm happy to think about ways to make `rphyloxml` and `RNeXML` to kind of talk to each other (either inc

[2017-12-15 22:15] cboettig opened #164 "Ontotrace Example is not valid NeXML?"
@rvosa the ontotrace example, https://github.com/ropensci/RNeXML/blob/master/inst/examples/ontotrace-result.xml is failing on NeXML validator.  Apparently the id on the `otus` block is not a NCName?

[2017-12-16 10:11] rvosa commented on #164
I'm fairly sure the only allowed non-alphanumeric character in NCNames is
the underscore. No hyphens.

On Fri, Dec 15, 2017 at 11:15 PM, Carl Boettiger <notifications@github.com>
wrote:

[2017-12-16 18:49] cboettig commented on #164
@rvosa Are you sure?  I would have thought `-` was okay, just not stuff like `:` or `/`.   These are UUIDs in the Ontotrace, right?

I'm just looking at https://stackoverflow.com/questions/1631396/what-is-an-xsncname-type-and-when-should-it-be-used

[2017-12-17 12:04] rvosa commented on #164
Mmmm... maybe I'm getting this wrong. I guess it is no hyphens as the first
character?

On Sat, Dec 16, 2017 at 7:49 PM, Carl Boettiger <notifications@github.com>
wrote:

[2017-12-18 03:23] cboettig commented on #164
ah, I think it is no numbers as the first symbol, which is violated by the block that follows: https://github.com/ropensci/RNeXML/blob/master/inst/examples/ontotrace-result.xml#L37

[2017-12-18 03:26] cboettig commented on #164
and apparently we already discovered this circa 2013... https://github.com/ropensci/RNeXML/issues/14#issuecomment-29428306 whoops!

@hlapp I don't suppose phenoscape is going to do anything about it's habit of using UUID ids that are sometimes not valid NCNames?

[2017-12-18 03:26] #164 closed

[2017-12-18 04:21] hlapp commented on #164
I myself am not a big fan of UUIDs but I think programming wise they're one of the best if not the best choice available for the purpose they are generated for in Phenoscape.

However, it would seem that the issue of them leading to sometimes invalid NCName-type identifiers is a bug, and not hard to circumvent. For example, we could just always prefix them (e.g., with `U` or `U-`).

CC @balhoff -

[2017-12-18 15:32] balhoff commented on #164
I had fixed this a while back but seems I missed one place where a UUID is used. This should be corrected by https://github.com/phenoscape/phenoscape-kb-services/commit/4bc624b106d86f8c9310ae6b6c81172b2ed3508c.

[2017-12-18 15:39] balhoff commented on #164
That should fix IDs in OntoTrace downloads (please let me know if you see that it's not the case). There are some existing annotation files (not from OntoTrace) in our data repository which have some bad IDs. I might need to just find and replace all those manually.

[2017-12-18 16:21] balhoff commented on #164
That's done now also.

[2017-12-18 17:15] cboettig commented on #164
Nice Jim, you're fast!  Thanks!

[2017-12-18 17:16] hlapp commented on #164
👏

[2017-12-18 17:17] cboettig commented on #164
p.s. one day I'd like to hear @hlapp 's take on UUIDs.

One thing that's been annoying with JSON-LD `@id`s is that they are all  URIs with protocol included, meaning that `http://schema.org/name` isn't the same as `https://schema.org/name` as far as the algorithms are concerned...

[2017-12-18 17:28] balhoff commented on #164
Sort of. I've known about this problem for years. 😆

[2017-12-18 18:03] hlapp commented on #55
@gvegayon I'd suggest you turn this into it's own issue. I think there are two main questions here, which would benefit from having their own thread:

1. What would it take, or what should it mean to be API signature-compatible with the RNeXML package. I.e., clearly not every function/method signature would need to (or even could) be the same, but are there core functions users would use to obtain

[2017-12-19 18:59] gvegayon opened #165 "phyloXML: Separate R package or not?"
Following @hlapp's suggestion in #55, here is a separate issue for discussing whereas a separate package may be a good idea for providing support for the [phyloXML](http://www.phyloxml.org) format.

Here are @hlapp's kickoff questions:

As I mentioned earlier, I already started working [on something](https://github.com/USCbiostats/rphyloxml), but it is only a few lines of code, so I have no proble

[2017-12-19 19:20] gvegayon commented on #165
I have a couple of basic questions:

1. What's the most popular way to manage tree annotations in R? I'm thinking of something that, for example, uses `matrix` or `list`.
2.  Does `RNeXML` support cycles? I understand that (NeXML does)[https://github.com/nexml/nexml/wiki/NeXML-Manual#cyclical-graph-network], but I'm not sure how useful/worthy is when writing the parsers.

[2017-12-19 19:56] cboettig commented on #165
@gvegayon A few quick thoughts:

In general I'm all for small packages doing one thing well, so a separate package makes sense to me.

The question of what RNeXML supports depends on what serialization you have in mind. e.g. RNeXML supports everything you can do in NeXML (e.g. cycles, meta annotations), but whether or not these can map into popular phylogenetics object formats used in R (e.g. ape

[2017-12-20 18:36] gvegayon commented on #165
I agree. Still, having functions as `phyloxml_to_nexml` and vice versa would be a nice thing to have :smile: which is why having a XSLT transform seems to be a great idea! Although, let me confess that this is the first time that I read about it.

I thought so, I'm asking this because I recently started a project in which I need to handle both annotations and tree structure ([aphylo](https://githu

[2017-12-20 19:04] cboettig commented on #165
Right, though an R package could use said stylesheet to do the mapping.  (e.g. RNeXML uses an existing XSLT stylesheet to turn NeXML into RDF).  @rvosa I don't suppose you have an XSLT stylesheet for phyloXML?

Re the nesting,  I dunno, I think in principle that is fine, though it may make coding the XSLT sheet a pain and a half.  Note that this is one of the nice features of the JSON-LD approach:

[2017-12-20 19:09] rvosa commented on #165
Nope.

I think it would be a huge pain.  You'd have to generate identifiers to
link edges to node when generating NeXML and conversely you'd have to query
NeXML using identifiers to generate PhyloXML.

Also, the PhyloXML annotation predicates don't have a namespace, so you'd
have to invent that as well. This is fixable (for example, one might use
the phyloxml.org URI for this), but I'd hate to hav

[2018-01-02 17:03] gvegayon commented on #165
mmm, it seems to me that perhaps the easiest way to map both is to write coercion functions using R basic structures may be. We'll need to keep some sort of dictionary to map the two classes, but I think this is the easiest (or at least, fastest) way to approach this. What do you think?

[2018-01-02 17:07] cboettig commented on #165
sounds good to me

[2018-04-12 11:59] lawremi opened #166 "suggest taxize"
The taxize functionality seems somewhat extraneous to parsing the XML files. Would it make sense to move taxize to Suggests? Would eliminate a tree of dependencies.

[2018-04-12 17:18] cboettig commented on #166
Good point.  It is used in the *creation* of NeXML to encourage users to include taxonomic IDs for all OTUs.

The jury has conflicted opinions about using `Suggests` for things that functions in the package actually depend upon, even if they are bonus features (more accepted use is for things that are purely "development" dependencies, used for running tests or building vignettes or other document

[2018-04-21 17:51] #163 closed

[2018-04-21 18:00] cboettig commented on #122
Appears that `ape`'s routines, particularly for plotting, can still throw segfaults under a range of conditions, even for perfectly bifurcating trees.  Part of the challenge is that the `ape` format seems to make quite a few arbitrary assumptions about the way it represents a tree (for instance, not all topologically equivalent edge lists are the same. I don't understand why order should matter, s

[2018-04-21 18:00] #122 closed

[2018-04-21 18:03] cboettig commented on #84
these are just wrappers around ape format for phylogenies, not a separate representation.

[2018-04-21 18:03] #84 closed

[2018-04-22 03:10] #166 closed

[2018-04-22 03:11] cboettig commented on #166
@lawremi  Done, thanks for the suggestion!

[2018-05-14 10:01] maelle opened #168 "are these test files still needed?"
https://github.com/ropensci/RNeXML_testfiles or should the repo be archived/deleted?

[2018-05-14 14:45] hlapp commented on #168
I don't know for sure - looks like a candidate for deletion to me. @sckott and @cboettig ?

[2018-05-14 15:28] sckott commented on #168
probably delete unless @cboettig can think of a reason to keep

[2018-05-14 16:35] cboettig commented on #168
yup, delete

[2018-05-14 17:44] maelle commented on #168
Ok done thanks a lot!

[2018-05-14 17:44] #168 closed

[2018-09-18 14:32] fmichonneau opened #169 "clash with "tree" class name provided by cli package"
Trying to load [this file](https://github.com/ropensci/RNeXML/files/2393110/file6727d10af7.txt) (from OpenTree), I get:

[code]

[2018-09-18 14:42] cboettig commented on #169
yup, I've seen that as well ... unfortunate.  Do you need to have `cli` package loaded?

in RNeXML, the S4 classes match the NeXML node names, so there's no obvious way I see to avoid this.  (even if we broke the correspondence, it would be a compatibility-breaking change).

um not directly related but possibly still relevant to you -- last year at a hackathon a couple of us drafted https://github

[2018-09-18 19:37] fmichonneau commented on #169
I didn't investigate too much, but I think cli is loaded along with testthat. I got this error as part of the unit tests.

The nexld approach looks cool. Maybe @mtholder would be interested...

[2018-09-26 00:55] hlapp opened #170 "Many fewer versions of R are tested than compatibility is claimed for"
The DESCRIPTION says the package requires R >= 3.0.0., but only the latest release (of released versions of R since 3.0.x) is tested. Shouldn't this be tested against a matrix of 3.0, 3.1, 3.2, 3.3., 3.4, and 3.5?

Or alternatively, require a correspondingly later version of R?

I'm about to update the Travis tests for Rphenoscape and am wondering about recommended practice between dependency and

[2018-09-26 01:40] hlapp opened #171 "get_characters() fails with an error in dplyr::bind_rows()"
The [following line](https://github.com/ropensci/RNeXML/blob/4341d2465a4bbaf1693c5bc23209440a44a2c807/R/get_characters.R#L59) in `get_characters.R` fails with `Column `symbol` can't be converted from integer to character`:

[code]

This seems to happen only in R 3.5.+, not in R 3.3.x. I don't know whether this happens for all inputs with polymorphic characters or only some. I came across this from

[2018-09-26 03:07] cboettig commented on #170
Good question.  I see your point but I think common practice holds that it would be impolite to use Travis quite so extensively.  After all, things are most likely to break on later versions, not on versions where it previously worked.

Also, computing backwards dependencies gets quite tricky, e.g. there's no guarantee that more recent versions of package dependencies of RNeXML (e.g. dplyr) will n

[2018-09-26 03:13] cboettig commented on #171
Thanks!  And it looks like that line is an example of one not covered by current unit tests: https://codecov.io/gh/ropensci/RNeXML/src/master/R/get_characters.R#L59

whoops!

Should definitely be fixed.  Somewhat tangential, but actually hoping to have an RNeXML re-write in the near future based on the `nexld` approach which I think should make the code-base a lot simpler and more robust.  Meanwhi

[2018-09-26 03:49] hlapp commented on #170
I don't know. Travis certainly makes it quite easy by design to test on multiple versions, so it seems a little weird to assume that a capability that's clearly not accidental, and clearly designed for ease of use, should rather not be used. And I know that at least for JavaScript packages it is very common.

I think the burden is more on the code developers - if you have a long running test suite

[2018-09-26 03:50] hlapp commented on #170
I guess I'll close this - it served its purpose at least for me 😀

[2018-09-26 03:50] #170 closed

[2018-10-12 03:41] hlapp opened #172 "Handling of polymorphic and uncertain character states is badly broken"
Perhaps this is now amplified by recent behavior changes in `dplyr`, but here's an enumeration of the problems I am finding:

- The symbol of a `polymorphic_state_set` may not be an integer or numeric, leading to the issue reported in #171. The same will likely be true for `uncertain_state_set` in a morphological character matrix. (In a DNA or protein sequence matrix, non-polymorphic and unambiguo

[2018-10-12 15:51] cboettig commented on #172
@hlapp yeah, it really looks like polymorphic and uncertain states were never really implemented properly.  I suspect this was due to an over-reliance on the corresponding `ape` / `phylo` data structures, which iirc don't have support for polymorphic states (or is that not the case)?

In fact, I'm really not sure what the 'correct' behavior should be, I think the data.frame format returned by `get

[2018-10-12 18:01] cboettig commented on #172
Okay, good points all around.

It sounds like a function such as `get_characters()` should simply take optional arguments for how polymorphic and uncertain states are to be encoded in the matrix, e.g. using the defaults you suggest in the second bullet:

[code]

(with some subtly as to whether "NA" should be treated as a character string in R or as a literal NA.)  That would provide simple default

[2018-10-13 18:16] cboettig commented on #172
Re:

Yeah, I agree the code here is way more opaque than it should be, which is largely a consequence of attempts to treat everything as data.frames.  Short version is that these NAs in symbol only appear on continuousTratis, which don't have a symbol value, and so in the long-from table representation, have NAs for symbol.

In the code as written, I don't think NA can arise another way, since NA

[2018-10-13 18:50] hlapp commented on #172
If everything were correct then presumably yes. However, the reason I stumbled over this was that the incorrect joining for cells (or more specifically, the fact that the join doesn't work for polymorphic and uncertain states, see second bullet point in the original issue post) leaves some symbols as `NA`.

I agree that once that's fixed, we shouldn't be hitting this anymore erroneously.

[2018-10-14 05:15] #171 closed

[2018-10-14 05:20] #49 closed, assigned to nobody

[2018-10-14 05:21] #65 closed, assigned to nobody

[2018-10-14 05:30] cboettig commented on #161
looks like this is resolved. @hlapp I'm noting @rvosa's comment above though as relevant to the discussion in #172,

[2018-10-14 05:30] #161 closed

[2018-10-14 05:31] cboettig commented on #159
resolved and enforced by testthat tests

[2018-10-14 05:31] #159 closed

[2018-10-14 05:32] cboettig commented on #139
warnings are suppressed

[2018-10-14 05:32] #139 closed

[2018-10-14 05:33] cboettig commented on #141
closing issue as stale.

[2018-10-14 05:33] #141 closed

[2018-10-14 05:33] #33 closed

[2018-10-14 05:33] #21 closed

[2018-10-14 05:34] #25 closed

[2018-10-14 05:35] #51 closed

[2018-10-14 05:35] #68 closed

[2018-10-14 05:37] cboettig commented on #151
appears to be resolved.

[2018-10-14 05:37] #151 closed

[2018-10-14 05:40] #41 closed

[2018-10-14 05:40] #85 closed

[2018-10-14 05:40] #67 closed

[2018-10-14 05:42] cboettig commented on #90
Closing as NeXML is now a recognized type in DataONE.  I think it would make sense that a user would upload to DataONE directly via the `dataone` package, I don't believe that the uploading process should really be in the scope of RNeXML.

[2018-10-14 05:42] #90 closed

[2018-10-14 05:45] cboettig commented on #140
looks like this behavior is reasonable and documented, so closing now.

[2018-10-14 05:45] #140 closed

[2018-10-14 05:46] cboettig commented on #55
closing in favor of #165

[2018-10-14 05:46] #55 closed

[2018-10-14 05:49] cboettig commented on #165
Closing old issue as it sounds like consensus is that this would be outside the scope of RNeXML.

Just a complete aside, but switching between a nested convention like PhyloXML and a unnested convention like NeXML is super simple if we represent the XML as JSON-LD and write a JSON frame.  Examples of this in https://github.com/cboettig/nexld, still work in progress (not trying to solve the PhyloXM

[2018-10-14 05:49] #165 closed

[2018-10-14 05:50] cboettig commented on #66
seems things are ok, (closing stale issues here)

[2018-10-14 05:50] #66 closed

[2018-10-14 05:53] cboettig commented on #40
I think EML descriptions of trait data files would generally be too imprecise to map to either NeXML character matrix or other richer semantic versions.  Going the other way would be more straight forward of course (generating an EML entry for NeXML).

[2018-10-14 05:53] #40 closed

[2018-10-14 17:01] hlapp commented on #161
See also thread in phenoscape/scate#8. In a nutshell, using `2` (or, more generally, the digit that's incremented by 1 from the maximum standard state symbol in the character) would be valid according to the schema, maintain readability by tools when converted to less expressive formats such as NEXUS, but carries the danger that the user simply passes the file into a downstream comparative analysi

[2018-10-14 17:08] hlapp opened #175 "Provide API to query for polymorphic and uncertain states and their member states"
To enable users to make their own decisions about how to code and how to count polymorphic and uncertain character states in downstream analysis, should provide an API along the following capabilities:
*  `is_polymorphic()` and `is_uncertain()`: predicate functions, would return a TRUE/FALSE matrix in the same arrangement as the character matrix.
* `member_states()`: would return the member states

[2018-10-14 17:11] hlapp commented on #172
I agree. Also, I'm not sure that adding parameters that would allow
[code]
is necessarily worth it if what I think we really need is giving users simple and full access to the information the `nexml` object. So I created #175, and I think once that's in place it's easy enough for the user to accomplish the above themselves.

[2018-10-14 17:14] hlapp commented on #172
Also, for the record I'll add a side note here regarding polymorphic state sets. The schema does allow uncertain state sets to be nested within (i.e., to be a member of) a polymorphic state set.

This is currently not handled at all by the code here. It also seems like a real fringe case that for the foreseeable future at least within Phenoscape I don't see becoming a use case.

[2018-10-15 19:28] hlapp opened #176 "taxize_nexml() fails to call use_entrez()"
The vignette `metadata.Rmd` generates a ton of warnings about the following:
[code]
This problem is unfortunately usually concealed, because it somehow goes away when the `phytools` package is installed.

[2018-10-15 19:33] hlapp opened #177 "taxize_nexml tests are inconsistently in part run and in part skipped on CRAN"
The tests defined in `tests/testthat/test_taxonomy.R` are all apparently skipped on CRAN (any particular reason for that? skipping tests seems alway a fraught idea.).

However, the setup code preceding the test cases already runs `taxize_nexml()`, and presumably does run on CRAN as well. (It also suffers from the same problem reported in #176.)

[2018-10-15 23:30] cboettig commented on #177
On CRAN, network-related tasks will sometimes succeed but can also timeout sporadically, so we tend try and minimize the number of network-intensive tests CRAN has to run so we don't get kicked off.  I agree that skipping tests fraught, but note these tests are not skipped on travis, and they are not skipped in local testing.  (ropensci also tickles travis builds to make sure tests run even when n

[2018-10-16 03:01] hlapp commented on #177
Ah yes, they aren't skipped on Travis, my mistake. What about the `taxize_nexml()` prior to the tests,, though? It's harmless because it can't time out a test?

[2018-10-16 03:06] hlapp commented on #177
Actually I take that back. The tests on Travis are run with parameter `--as-cran`. Doesn't that mean that tests skipped on CRAN get skipped on Travis as well?

[2018-10-16 03:41] cboettig commented on #177
no, because `skip_on_cran()` thought about that.  `--as-cran` is a parameter to that invokes additional checks on R CMD check, and yeah, we almost always want to run with those, including on Travis.  See `?skip_on_cran()` which looks for the environmental variable NOT_CRAN being set.  `devtools` sets this, so checks on Travis, Appveyor, and locally are run with NOT_CRAN being set, but clearly CRAN

[2018-10-16 13:06] hlapp commented on #172
@cboettig should we close this out now?

[2018-10-16 13:26] hlapp opened #178 "test_publish.R is skipped silently in its entirety"
The `test_publish.R` code is wrapped in `if(0)`, i.e., it's never run. That's bad in multiple ways, one of which is that it's not even reported as  a test that's being skipped even though effectively it is.

Perhaps this really isn't currently fit to run as a test anywhere, but even then it should use `skip()` so that it's at least reported as a test that is being skipped.

[2018-10-16 13:40] hlapp opened #179 "Dependencies for package check recursively bring in this package"
For running `R CMD check` on Travis, the installation of dependencies includes those in the suggested  category, which includes `phylobase`. However, `phylobase` itself depends on `RNeXML`, and hence installing the `phylobase` package results in also installing RNeXML from whichever is the latest version on CRAN.

I don't know enough about the package loading intricacies in R whether that means ph

[2018-10-16 15:00] cboettig commented on #172
sounds good

[2018-10-16 15:00] #172 closed

[2018-10-16 15:04] cboettig commented on #179
Yeah, it's a confusing situation that should be avoided.  I think we can drop Suggest on phylobase -- I don't see it being used anywhere either.  (We had explored RNeXML->phylobase converters before but ended up punting on that issue;  I think that's handled on the phylobase side now via RNeXML).  Thanks for catching this.

[2018-10-16 15:08] cboettig commented on #178
yeah, it should use skip.  Though really I think we should deprecate the `publish()` methods. Uploading NeXML file to figshare doesn't seem like a particularly effective way to share NeXML. What do you think?

[2018-10-16 15:09] hlapp opened #180 ".Rd files under version control"
I'm wondering whether the `.Rd` files should be indeed be under version control. Right now they are, although they are re-generated by Roxygen on every `R CMD build`, and they don't seem to necessarily be meant for human consumption (unlike, say, the `.md` files generated from `.Rmd`).

One reason I bring this up is that a number of these have inconsequential changes in them when I re-run `R CMD b

[2018-10-16 15:13] cboettig commented on #180
Yeah, I see your point, but committing them is standard practice.   Installing directly from GitHub using `install_github()` would break without them, as would the standard r-travis checks (though the latter could be hacked around).

Usually they should only change when the Roxygen in the R files change.  The most recent Roxygen generator started enforcing line length I believe, so there will be a

[2018-10-16 15:42] hlapp commented on #180
Fixed in ac2503a6020f41670f958f1d3c5a287d8970197a. Sorry that went straight to master by mistake.

[2018-10-16 15:42] #180 closed

[2018-10-16 15:55] hlapp opened #183 "Various test failures with devtools::test()"
Although tests seem to be passing with `R CMD check` (including locally), there are a variety of failures with `devtools::test()`, which is the command that the "Test package" command in RStudio runs.

I don't understand why the difference, but it's a little troubling.

Output from the failures follows. (The output is modified from the original. Specifically, I removed various warnings, reports on

[2018-10-16 16:00] hlapp commented on #178
I agree, actually. I think it should simply be out of scope for this package. Looking at the code, there's not that much special stuff that's being done. _At most_ I'd argue this should be a vignette for how one _might_ upload NeXML data to Figshare (because obviously there are other ways to massage and deposit metadata). But even that might be out of scope, and if anywhere such a vignette should

[2018-10-16 18:43] hlapp commented on #87
Looks like this has been available in `phylobase` for a while: fmichonneau/phylobase@5401a02ec14cb84919fc040de9f4cfb322a849f8

[2018-10-16 18:43] #87 closed

[2018-10-16 18:45] hlapp commented on #179
See #87. Indeed coercion to phylobase classes is handled there (fmichonneau/phylobase@5401a02ec14cb84919fc040de9f4cfb322a849f8). It seems to me that we can simply drop the dependency.

[2018-10-16 19:28] cboettig commented on #178
:+1:

[2018-10-24 01:35] hlapp opened #185 "Plans for update release to CRAN?"
The Rphenoscape package is dependent on the recent fixes resolving #171 and #172. Hence, I'm wondering when these could be reasonably expected to make it to CRAN? Are there other changes or fixes that should be in the same version upgrade? Should we create a milestone to track these?

Either way, Rphenoscape needs to depend on a version of RNeXML > 2.1.2.  Would it be OK to increment the version o

[2018-10-24 03:29] cboettig commented on #185
@hlapp Sure, I think we could get a new release on CRAN in relatively short order.  None of the open issues seem mission critical to me, so I'd propose we prepare a release at the current state.

Version wise, I can bump to 2.1.2.99 (R thinks that  `2.1.3-0` > `2.1.3`, try `compareVersion()`) for now, and make it `2.1.3` at release.

Other steps:

- [ ] Can you contribute a line in `NEWS.md` for r

[2018-10-26 02:59] hlapp commented on #185
BTW what's needed for version bump is only that the version it has satisfies being greater than or equal to `2.1.3` (if that's what I make minimally required for rphenoscape). As you say, `2.1.3.0` would accomplish that :smile:

In the meantime, I am using the `Remotes:` tag in DESCRIPTION to request that the RNeXML dependency be installed from Github. This accomplishes the desired outcome for tho

[2018-10-26 13:29] hlapp opened #186 "Coercing column type in get_characters() is broken for polymorphic and uncertain states"
The assignment of class for each column in get_characters() based on the data type assigned in the NeXML schema is broken. The result is that polymorphic and uncertain states in a StandardCells (discrete or continuous traits) matrix will be lost (they become `NA` as a result of the coercion).

The reason this has remained largely obscured is because the current implementation of the coercion [has

[2018-10-26 13:32] hlapp commented on #185
Issue is #186. The solution I think will by definition need to (at least partially) address #175.

[2018-10-26 17:26] hlapp opened #187 "Provide API to query for member states of polymorphic and uncertain states"
To enable users to make their own decisions about how to compute with polymorphic and uncertain character states in downstream analysis, should provide an API with would return the member states of polymorphic and uncertain state sets

This was originally part of #175, which itself was carved out from #172.

[2018-10-26 18:51] hlapp commented on #177
Looks like there maybe isn't any real issue here, aside from _the setup code preceding the test cases already runs `taxize_nexml()`, and presumably does run on CRAN as well._ Sounds like this doesn't concern you, so I'm going to close this.

[2018-10-26 18:51] #177 closed

[2018-10-26 22:56] cboettig commented on #185
Are we good to prepare a release now that #188 has resolved #186 and #175?  Think we just need some text for the `NEWs.md` release notes regarding the resolution of these issues.

[2018-10-26 23:34] hlapp opened #190 "Certain metadata is getting lost upon reading NeXML"
I found this from looking at top-level metadata; it's possible that other metadata elsewhere is getting lost too:

[code]

`dc:creator` is indeed empty in the file, but `dc:description` is not:
[code]

This isn't a problem in the `get_metadata()` function:
[code]

Other metadata in the file are coming back fine (though these are not `LiteralMeta`, if that's got something to do with it):
[code]

An

[2018-10-26 23:42] cboettig commented on #190
Looks like RNeXML is assuming that literal metadata nodes are still using the `content` attribute for the contents, and not parsing the literal node contents.  (e.g. the format we see in TreeBase:

[code]

Guess it shouldn't be assuming that.  (I guess only resource meta nodes can be nested(?) so it should be okay to just parse the contents of any literal meta node?  Presumably the schema doesn't

[2018-10-26 23:52] hlapp opened #191 "Polymorphic (and probably uncertain) states fail to get written out in write.nexml()"
As the title says, if I read in a NeXML file that has polymorphic states and write it back out without further modification, the polymorphic states are gone, turning them essentially into missing values. (Since there the problems with the treatment of polymorphic states found so far would have applied equally to uncertain states, I suspect this will be the case here, too, though I don't hold proof

[2018-10-27 00:33] cboettig commented on #191
@hlapp See PR #192, should fix this I think.

[2018-10-27 00:34] cboettig commented on #190
See #193

[2018-10-27 00:44] hlapp commented on #191
Fixed in #192.

[2018-10-27 00:44] #191 closed

[2018-10-27 00:46] hlapp commented on #191
Thanks @cboettig 🙏

[2018-10-27 00:49] hlapp commented on #185
I looks like especially with #191 fixed in #192 we're good now. #193 is icing 😄 (or gravy, if you're that kind of guy 😁).

[2018-10-27 00:55] #190 closed

[2018-10-27 04:04] cboettig commented on #185
Great! Can you give me a blurb for [NEWS.md](https://github.com/ropensci/RNeXML/blob/master/NEWS.md) release notes that summarizes the `get_character()` changes?  It can also link back to the relevant issue threads directly for details.  Then I can probably prepare a release to CRAN pretty soon

[2018-10-31 04:51] cboettig commented on #185
@hlapp Are we ready to make a release to CRAN?  Just lemme know what should go into the  [NEWS.md](https://github.com/ropensci/RNeXML/blob/master/NEWS.md)

[2018-10-31 11:33] hlapp commented on #185
Yes, just tied up this week with teaching,

[2018-11-02 23:53] hlapp commented on #185
I think we are done here, @cboettig ?

[2018-11-04 03:55] #185 closed

[2018-11-09 20:55] hlapp opened #196 "Failure to handle nested meta elements"
Reading the following file (which successfully validates with the NeXML validator) results in an error:
[code]
I believe this is because it chokes on the following meta element:
[code]

Specifically, the code in [classes.R lines 114-123](https://github.com/ropensci/RNeXML/blob/master/R/classes.R#L114-L123) doesn't seem to be prepared for nested meta elements, and expects (in [line 117](https://git

[2018-11-10 00:08] hlapp commented on #196
Hmm. I would have expected that the value of a `LiteralMeta` is to be treated as a literal (string or number), not as a structured object, and that the value of a `ResourceMeta` is to be treated as an object, given either by a reference to a resource, or as a nested structured meta object.

It seems that the schema backs me up on this: [nexml:LiteralMeta](http://www.nexml.org/doc/schema-1/meta/ann

[2018-11-10 00:16] cboettig commented on #196
sorry, yeah, I had that backwards.

We have nested examples, e.g. https://github.com/ropensci/RNeXML/blob/master/inst/examples/treebase-record.xml, but they are ResourceMeta not LiteralMeta; just as you say.  But the nesting does always includes an href, which is interpreted as the `about` element I believe.

[2018-11-10 00:36] hlapp commented on #196
The [spec](http://www.nexml.org/doc/schema-1/meta/annotations/#ResourceMeta) actually specifically designates these as blank nodes:

[2018-11-11 01:07] #196 closed

[2018-11-14 02:35] hlapp commented on #169
I think this is an issue that we need to fix. The `cli` package is now loaded whenever `devtools` is loaded, and this will prevent proper operation of some of the main functions of the package:

[code]

The simple fact of calling `library(devtools)` prior to loading RNeXML essentially results in one no longer being able to load a NeXML file (unless, actually, that file doesn't include a tree, but

[2018-11-14 02:40] hlapp commented on #183
This is in all likelihood because of #169. At least the part unrelated to `ape`.

[2018-11-14 05:58] cboettig commented on #169
I think the problem is the class definition itself; we'd need to change the name of the R class (and adjust the serializing/parsing routines to handle this, since they currently exploit a 1:1 correspondence between element and class names.

And yes, agree completely that it's sad S4 doesn't really help here.  In general I think S4 classes are not all that suited for this use case; they give us inh

[2018-11-14 21:08] hlapp commented on #169
@cboettig I have a change that would address this for the foreseeable future. If you can at least bless #200, I can rebase and submit for pull request.

[2018-11-20 22:36] #169 closed

[2018-11-20 22:36] #183 closed

[2018-11-21 01:34] hlapp opened #207 "rootEdge disposable?"
Based on what I can find, there is no place in the code (or the tests) that makes any assignment to/from `tree@rootedge`, or that uses the [`rootEdge` class](https://github.com/ropensci/RNeXML/blob/master/R/classes.R#L370-L400) in some other way. Also, I just accidentally borked the class, yet that didn't result in any test failures, further corroborating the observation that this is maybe from a

[2018-11-21 06:39] cboettig commented on #207
I think it's just there because it exists as a complexType defined in the schema, but yeah, I don't think it was actually ever used.  Not sure if that would cause a failure on parsing a NeXML file that made use of that class?  Clearly we don't have any examples in our test suite

[2018-11-21 06:52] hlapp commented on #207
I don't how it would since there is nothing instantiating it or assigning the slot. It does mean that the the file would not fully round-tripped. But there are other examples of that (such as networks ...).

[2018-11-22 06:03] cboettig commented on #207
very true.  in any event, this is certainly disposable so do go ahead and remove the `rootEdge` class def.

[2018-11-22 19:58] hlapp opened #211 "Reconfigure (or disable) manuscript rebuilds on Circle CI"
Maybe it's worth reconfiguring how the manuscript rebuild on Circle CI gets triggered. Maybe this shouldn't need to be done for each pull request and each update to it, but only when master changes? Given the shape of the test suite plus the vignettes, it's hardly imaginable what kind of problem the manuscript code would detect that the tests and vignettes missed.

_Originally posted by @hlapp in

[2018-11-22 20:00] hlapp commented on #211
BTW it might well be worth considering to move the manuscript into a separate repo and tie it to a specific version of RNeXML anyway (which I think we cannot do while keeping it in the same repo?). Even if this error looks entirely spurious to me, the time will come that we want to make a change that's not compatible with the code as written in the manuscript, and I'd have reservations about then

[2018-11-22 21:36] #211 closed

[2018-11-22 23:00] hlapp opened #213 "add_meta() doesn't work for level "trees" and "characters""
That's because of [a bug in the code](https://github.com/ropensci/RNeXML/blob/master/R/add_meta.R#L54-L57), which probably resulted from the combination of copy&paste and not testing :-)

[2018-11-23 17:11] hlapp commented on #211
_Originally posted by @cboettig in https://github.com/ropensci/RNeXML/pull/199#issuecomment-441159023_

[2018-11-28 02:12] #213 closed

[2018-11-28 02:12] #207 closed

[2018-11-28 15:18] hlapp opened #222 "Clean up README, or use to build website"
_Originally posted by @cboettig in https://github.com/ropensci/RNeXML/pull/221#issuecomment-442327560_

[2018-11-30 19:46] hlapp commented on #154
I would argue that with #219 we should be able to safely delete the redundant `ter` definition? (Although I'm using it in one of the tests.)

The only reason not to would be if we suspected that some clients or users out there are creating metas using this prefix for the property or relation, and never bothered to add the namespace because they figured it's predefined already. Possible, but not ve

[2018-12-01 00:10] cboettig commented on #154
Right, I think it would be better to delete it.

[2018-12-02 17:34] cboettig opened #224 "Replace taxize backend"
From unrelated failures due to taxize API (#223)

[2018-12-06 22:53] cboettig opened #225 "NCBI URIs"
@hlapp I'm struggling with the preferred way to represent NCBI ids as URIs.  Which do you prefer as the base URI?

- http://purl.org/obo/owl/NCBITaxon#56308  (Recognized by prefix.cc for NCBITaxon, but doesn't resolve to a very helpful location to me...)
- http://ncbi.nlm.nih.gov/taxonomy/56308 (currently what taxize returns, pretty clean)
- https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi

[2018-12-06 23:32] hlapp commented on #225
So to actually try to answer your question:

I would argue it's the canonical URIs for taxa in the NCBI taxonomy. So here this would be http://ncbi.nlm.nih.gov/taxonomy/56308.

[2018-12-07 02:01] hlapp commented on #225
IMHO it's not necessarily about the content of a web page but about what is in the URI. In the former, it is the organization maintaining the database, the name of the database itself, and the ID of the record within that database. That seems like a reasonably minimum set of information to create a globally unique identifier that is also resolvable to over http, and thus leaves little room for oth

[2018-12-07 02:14] cboettig commented on #225
@hlapp yup, this makes sense to me, though merely inspecting the URL semantics as being appropriately minimal still feels like a less than ideal basis on which to establish a canonical URI. (e.g. compare to the ITIS base URI above, which is the only way I know to turn the ITIS number into a URI, but clearly looks fragile by these criteria).  Certainly the enforceable social contract provided by DO

[2018-12-08 01:40] hlapp commented on #224
Completed as part of #226.

[2018-12-08 01:40] #224 closed

[2018-12-08 01:40] hlapp commented on #222
Completed through #223 and #226.

[2018-12-08 01:40] #222 closed

[2018-12-08 01:44] hlapp commented on #75
Should it? It might warn, but maybe an error condition is only reached when there is still an undeclared namespace at the time of writing out the `nexml` object. And arguably, even then it is only an error if one were to require that the user can't generate a NeXML file that fails to validate (which doesn't mean it would also fail to parse).

[2018-12-08 01:45] hlapp commented on #154
As part of the coming release?

[2018-12-08 05:54] #225 closed

[2018-12-08 19:09] #154 closed

[2019-01-15 16:19] hlapp opened #228 "Cut new release to CRAN?"
Looks like it's been time to re-release to CRAN after the changes following v2.2.0?

[2019-01-15 18:18] cboettig commented on #228
Thanks, yup I think this is somewhat stuck in queue behind releasing the `taxadb` package we are now using in place of `taxize`, which isn't on CRAN yet (will want it to go through rOpenSci review first, which is quite thorough these days).

Since it's a Suggested package only we could release it ahead of that, but would complicate installation for those features by requiring an additionalReposito

[2019-01-15 22:31] cboettig commented on #228
Yeah, I agree, that's why the taxa lookup stuff is only a suggested dependency anyway.  This sounds good to me.  I'll try and get it onto CRAN by using the additional repositories mechanism.

[2019-01-23 00:32] cboettig opened #230 "Thoughts on a hex?"
In the R community at least it's become [popular](http://hexb.in/) to icon-ify software in hexes.  I sketched out a simple concept using a public domain sketch of Darwin's first tree and XML's ubiquitous angle brackets here: https://github.com/ropensci/RNeXML/blob/master/man/figures/logo.svg.  Thoughts @rvosa @hlapp ?  (It's a simple SVG, feel free to hack away).

[2019-01-23 00:37] cboettig commented on #228
@hlapp I've pushed a new release to CRAN with the Additional_repositories mechanism.  🤞 we'll see what they say before I cut a new release on GitHub.

[2019-01-23 15:15] hlapp commented on #230
Not bad 😄 The color wouldn't be my favorite one (but that's bound to be the case for someone no matter which color you choose). I guess my main feedback would be that the logo doesn't lend itself well to scaling down (making smaller) because then the thin lines of Darwin's sketch start to blur and fade into the background.

Note BTW that NeXML (the format) is one of the three [EvoIO foundation lay

[2019-01-26 04:45] cboettig commented on #228
On CRAN now

[2019-01-26 04:45] #228 closed

[2019-03-08 17:28] hlapp opened #231 "Rmarkdown version of toplevel README no longer necessary?"
As a remnant from earlier when there wasn't a package website created from vignettes and documentation, the top-level README is still a Rmarkdown document, from which README.md is generated. The Rmarkdown version of the README still contains a number of code chunks, but these are either expressly precluded from evaluation, or not included in the markdown generation to start with. As they should be

[2019-03-08 17:39] cboettig commented on #231
That's a good question.  On the other hand, Rmd README (with executable R chunks) are nearly universal in mainstream R packages, so another way of looking at this is that we have been a bit too curt in our current README, and not followed the best practice in which we can illustrate a compelling and simple use case for the package on the "first page."

For instance, we could probably show a minima

[2019-03-08 17:49] hlapp commented on #231
So is this because most mainstream R packages aren't using a pkgdown-generated website yet and/or don't have a "Getting started" vignette? I mean, the link "Get started" is right there if you do have both of these (as RNeXML now does) 😊

[2019-03-08 18:05] cboettig commented on #231
I think the latter.  Most have a pkgdown site but also have a getting started on the readme.  I think the idea is that the readme should let you 'get started' and run something, a README  is the universal "start here".  So I think it's not ideal to instead present a page of text and then another link that says "no, actually get started here".

Packages in https://github.com/r-lib are a nice benchm

[2019-03-18 13:30] rvosa commented on #231
I would vote to _not_ have an Rmd file. Reasons:

- I was not aware this being a practice at all; I've never looked at a README.Rmd of any package; it won't show up when you pull up any documentation in RStudio or whatever
- We create the risk of partial duplication of code samples; things going out of sync; bad documentation becoming worse than no documentation
- More generally speaking I don't t

[2019-06-04 14:54] hlapp commented on #230
Are we settled on a hex now 😏

[2019-06-04 15:02] hlapp opened #232 "General purpose accessor functions for nexml object inspection"
As has come up within RPhenoscape (see phenoscape/rphenoscape#64) how to inspect the `nexml` object for some basic properties, such as number of taxa, number of characters, etc, can be difficult for novice (and arguably even for more advanced) users.

I added documentation to the Rphenoscape vignette (phenoscape/rphenoscape#67), but am wondering whether it wouldn't be broadly useful to have a set

[2019-06-04 15:12] hlapp commented on #232
To be clear, I'd be willing to give this a start if greenlighted.

[2019-06-04 16:20] cboettig commented on #232
This is a really good question.

To me, it is indicative of a deeper issue that perhaps we don't have the most intuitive data structures or we haven't communicated them well.  In general I don't think creating custom methods to return things like the number of elements is really ideal, since it requires the user to learn our idiosyncratic way of asking about something rather than leveraging existi

[2019-06-04 16:25] hlapp commented on #232
This works only if the object meets expectations (of `get_characters()` etc). For example, if there are zero taxa or zero characters, these functions will error out. Also, they take unnecessary time if, for example, all I wanted to ask is how many characters a nexml object has, which can, and thus should be answered in milliseconds.

[2019-06-04 16:29] hlapp commented on #232
As for the `summary()` way of doing things, that's not too bad but still kind of roundabout from a user's perspective, because my brain has to convert a question of _how many characters_ into _what is the summary object_ followed by _what does the `$ncharacters` element of the summary object say_.

For example, to obtain the number of rows and columns in a matrix m, one doesn't say
[code]
Instead,

[2019-06-04 16:32] hlapp commented on #232
Or maybe just make `nrows()` and `ncols()` into generics?

[2019-06-04 16:34] cboettig commented on #232
Excellent point, I think that throwing an error under those circumstances is a bug. I think `get_` methods should just return an empty `data.frame` if there's zero elements.  What do you think?

Regarding performance, yeah, I'm with you on that.  An internal method like `summary` should definitely just do what is fastest, but a user should do whatever is most obvious.  In general we're a long way

[2019-06-04 16:42] hlapp commented on #232
All I can say is that our users ask the question _how many characters in this nexml object_. They're not asking about a summary, or about the character matrix, thinking that might allow them to ask _how many characters_.

I guess another way of saying the same thing is I'm wondering whether we're making this more complicated than it is. The users I interact with are asking a simple question. The q

[2019-06-04 16:56] cboettig commented on #232
Yeah, I hear you.  My intuition is that if you want to know how many characters, you `get_characters()` and look at it.  In my experience when a package adds a new function for each task a user might want to do, you end up with loads of functions and the user simply doesn't know they all exist, so I'd prefer a compact namespace with some well-behaved functions.

The main strikes against this appro

[2019-06-04 20:43] hlapp commented on #232
(a) is indeed a problem, but it could arguably also be fixed by declaring that a non-empty character matrix is a precondition for successful return. Most code using the result will have to do something else anyway for an empty matrix, so it doesn't seem an onerous precondition to me, if the way to learn about the number of characters weren't to first obtain the matrix.

(b) is arguably worth atten

[2019-06-05 20:13] hlapp opened #233 "Print summary doesn't deal properly with zero phylogenetic trees"
[code]

For block 1 it incorrectly says `NULL` and for block 0 it says ` ` (whitespace?).

[2019-06-05 21:21] cboettig commented on #233
Yup, looks like it assumes trees exist

https://github.com/ropensci/RNeXML/blob/91a6e2d6c404fd40b472140476faf8b3a75f3ad2/R/nexml_methods.R#L23-L26

Also not sure what's up with serializing the file and counting some of these using XPATH, that's probably making the method much slower than it should be.  I'd be totally on board with a rewrite of the summary method, my the current implementation look

[2019-06-05 21:32] cboettig commented on #232
:100:% this.  It does get me thinking though, if RPhenoscape is all about the character matrix, maybe making the user work around the full `nexml` object makes the codebase more cumbersome than it needs to be?  e.g. would it be possible for RPhenoscape to "hide" the nexml complexity from the user, so that even though phenoscape data comes to the user as nexml, RPhenoscape basically presents it to

[2019-06-06 17:33] hlapp opened #234 "Bug in splitting character matrix into continuous and discrete"
The following results in an error:
[code]
I believe the error happens here:

https://github.com/ropensci/RNeXML/blob/a0d3fea49e4d41ebe6fc549d86a9accfb28d8788/R/add_characters.R#L62

It looks like the root cause is in `split_by_class()`:

https://github.com/ropensci/RNeXML/blob/a0d3fea49e4d41ebe6fc549d86a9accfb28d8788/R/add_characters.R#L282-L284

The issue is that by default some (specifically, al

[2019-06-10 17:00] #234 closed

[2019-06-10 17:56] #232 closed

[2019-06-10 17:56] #233 closed

[2019-06-10 19:34] hlapp opened #239 "Adding characters fails for some matrices"
The following snippet:
[code]
results in the following error (with traceback):
[code]

This was initially reported in passing in #235, and remains unresolved.

[2019-06-10 20:10] hlapp opened #240 "dplyr methods select_ and mutate_ are deprecated"
Their use results in the following warnings:
[code]
and
[code]
@cboettig are you familiar enough with `dplyr` to be comfortable fixing this?

[2019-06-10 20:11] hlapp commented on #230
Silence perhaps means agreement we're settled on one for now.

[2019-06-10 20:11] #230 closed

[2019-06-11 19:37] cboettig commented on #240
Yup, I can take a look at this.  For the `select_()` commands, changing them to `select()` with no further changes should be all that is necessary.  With `mutate_()` I'll have to take a closer look since it depends on how we're using it...

[2019-06-14 04:42] hlapp opened #241 "New release with new summary() etc"
@cboettig can a new release be cut to CRAN? We will be running a teaching workshop on RPhenoscape and friends in conjunction with Evolution, and are planning to send installation instructions on Monday. It would be nice if participants won't have to run through dependency upgrades again once they are at Evolution (or at the start of the workshop).

[2019-06-14 16:26] cboettig commented on #241
Hey @hlapp , apologies, I haven't quite finished #240 (takes me a while to figure out what some of the old `lazyeval` syntax was actually doing -- I see why they deprecated that!)

We may also be held up the `taxadb` Suggested dependency, which depends on MonetDBLite which was archived by CRAN and hasn't yet been replaced.  But I think we can work around that (as it's only a Suggested dependency,

[2019-06-14 17:04] hlapp commented on #241
Monday would be fine, I think. I believe I already put in the conditional skipping of tests if taxadb isn’t installed.

[2019-06-14 17:05] hlapp commented on #241
See #238.

[2019-06-14 18:29] hlapp commented on #241
BTW that's some consolation as I remember staring at that for more than an hour and just not understanding what it was going to do and why.

[2019-06-18 20:59] hlapp opened #242 "get_characters() returns columns in different ordering than the list of char objects"
More specifically, for a `nexml` object `new`, the lists resulting from
[code]
and
[code]
will be set equal, but for any index _i_, their values at that index will be different.

Often this is not terribly problematic because in practice labels are usually unique, and so reordering by label matching will work.

However, labels are not required to be unique. If they aren't unique, according to docu

[2019-06-18 21:01] cboettig commented on #242
yeah, good call, `preserveOrder` seems like a reasonable way to deal with this.

[2019-06-19 17:04] hlapp opened #243 "Ability to drop objects from nexml object"
See phenoscape/rphenoscape#99, which introduces functions to drop OTUs and characters. One of the RPhenoscape user stories requires this kind of functionality; accomplishing it through subsetting a character matrix or OTU list and then creating a nexml object from scratch is fraught with too many issues, many of which come back to a loss of metadata that would help to avoid them (see #239, for exa

[2019-08-17 01:01] hlapp commented on #241
@cboettig any hope that this can be released soon?

[2019-08-22 19:57] cboettig commented on #241
yeah I'm a bit worried they won't like the dependency on `taxadb` which replaced the much heavier dependency on `taxize`, since it's still not on CRAN (though hopefully will get it into rOpenSci peer review soon).  It's just a soft dependency though (Suggests), so maybe they will let it slide.  I'll give it a go and see what happens.

[2019-10-18 15:13] hlapp commented on #241
@cboettig any update here? I'm concerned we've maneuvered this into a position where new releases of the package cannot be made anymore.

FYI, we already have the next training workshop scheduled in conjunction with the SSB stand-alone meeting in Gainesville, FL, at the beginning of Jan 2020. I argue that if we cannot re-release RNeXML well in time before that, we have an untenable situation on ou

[2019-10-18 15:17] cboettig commented on #241
apologies,  I think we are clear to release, I just lost track of this (CRAN tests weren't available when I tried  in August and I forgot to come back 😊 ).  lemme try again !

[2019-10-28 16:15] hlapp commented on #241
@cboettig any update as to where we're at with this?

[2019-10-28 17:48] cboettig commented on #241
yeah, came back to us, CRAN really would prefer the suggested dependency of `taxadb` be on CRAN first. The good news is that we're probably ready for a first release of `taxadb` anyway, it's just been in rOpenSci review; but we can probably submit it to CRAN simultaneously.

[2019-11-07 21:39] hlapp commented on #241
@cboettig any updates? Sorry to have to keep pestering, but this issue is getting more important by the day.

[2019-11-07 21:51] cboettig commented on #241
Thanks for bugging and sorry for letting this drag out so long.  I've just submitted a copy to CRAN.

It will get tagged for manual review since the check throws a NOTE due to the `taxadb` availability, so it will probably take a little longer to go through and no guarantees what will happen during the manual review, but I figured it is worth a shot.  (There's no reason the soft / suggested depend

[2019-11-08 22:03] cboettig commented on #241
version `2.4.0` is now on CRAN! https://cran.r-project.org/web/packages/RNeXML/index.html

[2020-02-28 05:54] cboettig opened #245 "breaking change introduced in R 4.0.0"
@hlapp The latest R-devel will introduce `stringsAsFactors=FALSE` as the new default, which breaks an RNeXML test: https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/RNeXML-00check.html

I think the issue might just be that

https://github.com/ropensci/RNeXML/blob/d03aa5a0a544f173714c703a52b8472fc76cfe04/tests/testthat/test_01_utils.R#L119

needs to explicitly be declared as

[2020-02-28 16:58] hlapp commented on #245
Indeed. Just submitted #246.

[2020-02-29 18:47] #245 closed

[2020-04-03 04:14] cboettig opened #247 "Message from CRAN"
Please see the problems shown on
<https://cran.r-project.org/web/checks/check_results_RNeXML.html>.

The new check problems are from a recent upgrade of package 'tibble' to
version 3.0.0, with breaking changes described at
<https://tibble.tidyverse.org/news/index.html>.

We understand that you were not informed by the tibble maintainer about
the upcoming breakage, and many of us currently have ver

[2020-04-03 04:17] cboettig commented on #247
@hlapp No idea what's up with this.  Perhaps we can avoid tibble entirely?  Maybe @krlmlr has some insight?

[2020-04-03 04:55] krlmlr commented on #247
I double-checked, can replicate the error with tibble 3.0.0 but not with tibble 2.1.3. It's a weird one, need to understand the cause.

[2020-04-03 06:02] krlmlr commented on #247
Reprex:

[code]

<sup>Created on 2020-04-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Removing `importFrom(cli,*)` from tibble's `NAMESPACE` fixes the problem. Suspecting a buglet in R which we need to work around.

I can submit a tibble update well before the deadline.

[2020-04-04 23:29] hlapp commented on #247
Many thanks @krlmlr!

[2020-06-02 18:05] cboettig opened #249 "tests fail with new dplyr"
@hlapp can you take a look at this as I think you're more familiar with these particular tests?

[code]

[2020-06-02 18:23] cboettig commented on #249
<https://cran.r-project.org/web/checks/check_results_RNeXML.html>.

[2020-12-19 01:33] wdahdul opened #250 "Warning message: select_() is deprecated as of dplyr 0.7.0"
Hello, I'm reporting this warning message related to RNeXML:

[code]

[code]
[code]

[2022-01-23 21:03] krlmlr opened #251 "Add RNeXML_ prefix to tree (and other) classes"
I'm seeing weird warnings when I run `R CMD check` on this package, both the CRAN version and the dev version, after r-lib/pillar@5e9abc0427388657ac790f44ee6bfdafff1d7e50. This commit (and subsequent ones) fails, the previous commit succeeds. Oddly enough, I brought back the crayon import, but the warning persists. I can't replicate with `requireNamespace()` and `unloadNamespace()` .

I have no id

[2022-01-24 17:19] cboettig commented on #251
Thanks for the message @krlmlr ! I dunno -- you're debugging talents are far better than mine!

Sounds like some kind of S4-based namespace collision though?  Maybe?

RNeXML defines a large number of S4 classes (matching each complexType in corresponding XML schema defined by NeXML), many of which have quite generic names, e.g.: https://github.com/ropensci/RNeXML/blob/master/R/character_classes.R

[2022-01-25 04:26] krlmlr commented on #251
Thanks. It's the `"tree"` class that is defined (as an S4 class) both in the cli package and here. With 1e431bbd7a68f6aa3105465c3176800487d27407 (in my fork) the same failure is shown with `R CMD check` and CRAN pillar, and also shows a warning on `R CMD INSTALL`.

I think the main lesson is that S4 classes should be defined with a unique prefix, i.e. `"cli_tree"` and `"RNeXML_tree"`. The other le

[2022-01-25 05:51] cboettig commented on #251
yup, apologies, we've hit namespace collision issues before; though it is a pity there's not a better mechanism to handle them -- Fortunately I guess the majority of CRAN packages never adopted the S4 mechanism in the first place or namespace collisions in classes would be inevitable, no?

I would definitely do many things differently today but as you see this package has been around a long time a

[2022-01-26 00:04] hlapp commented on #251
We encountered this issue first 3.5 years ago, see #169. The issue at the core is documented in detail in #205. To quote:

The report there does go on to explain why, even though in theory this should solve the problem of identically named S4 classes being used in different packages, in practice the implementation in the methods package falls short in a few (though important) places. This was 3 ye

[2022-01-26 04:03] krlmlr commented on #251
Thanks for the clarification. The cli package implements an S3 class `"tree"` and calls `setOldClass()` on it.

These particular symptoms will go away when cli renames its class to `"cli_tree"`, for now no furter action seems to be necessary here. I'll also check if passing the `S4class` argument to `setOldClass()` in cli helps.

[2022-01-26 16:49] cboettig commented on #251
Thanks to you both!  It's great working with such excellent colleagues

[2022-01-28 21:23] hlapp commented on #251
This looks like a difference between the release and the devel versions of R. @cboettig do you have the devel version installed so you can try to reproduce it?

[2022-01-29 03:03] krlmlr commented on #251
I haven't seen those failures before, and I reverted a change in pillar to avoid breaking RNeXML. However, I haven't checked in R-devel.

Working on the cli update that should resolve this problem.

[2022-02-07 15:51] cboettig commented on #251
@krlmlr Any news on the update to `cli` ? CRAN has given us to the 11th of Feb before we're archived...

@hlapp I _think_ it's just the version of `cli`, not the version of R that is the real issue here; I think CRAN's `release` test machine was just slower to pick up the updated `cli` -- note that CRAN checks now show the WARN on most platforms (everything except for mac, which is probably runnin

[2022-02-07 19:12] krlmlr commented on #251
@gaborcsardi: Any chance we can get cli to CRAN during the next few days?

[2022-02-07 22:23] gaborcsardi commented on #251
Possibly, but releasing cli is not so simple any more, with 500+ revdeps. The tree class is also ~ 4 years old and renaming it does break things.

FWIW I think this is a bug in base R, even if there are name clashes, RNeXML should be using its own classes, and the classes should not be mixed up in the class cache.

Monkey patching can fix this, i.e. if you remove the class in cli before you define

[2022-02-09 01:45] cboettig commented on #251
I've patched RNeXML using @gaborcsardi 's `rlang` trick. Our patch was accepted so v2.4.6 is on CRAN now.

Also it sounds like Gabor was successful at getting R maintainers to patch this behavior on R, though the [email thread](https://stat.ethz.ch/pipermail/r-devel/2022-February/081469.html) is thin on specifics of how this was patched.

Big thanks to @gaborcsardi and @krlmlr for all the help!

[2022-02-09 01:45] #251 closed

[2022-10-13 02:51] #250 closed

[2022-10-13 03:38] hlapp commented on #249
Isn't this either fixed or obsolete?

[2022-10-13 03:40] #241 closed

[2022-10-13 03:42] hlapp commented on #240
Reported also in #250, and fixed in #253.

[2022-10-13 03:42] #240 closed

[2022-10-13 15:43] cboettig commented on #249
yup  fixed.

[2022-10-13 15:43] #249 closed